[2020-03-16 07:01] Adharshd opened #1 "Story::As a candidate, I would like to login to the test by entering the username and password."
- [ ] Creating the UI required for Login Page using the screens attached.
- [ ] APIs to check the credentials once the candidate clicks Login button.
- [ ] MongoDB Collections to be created to store the username and password(same for all usernames) - the usernames and passwords to be hardcoded in the backend without any option to register candidates from the UI.

[2020-03-16 07:03] Adharshd opened #2 "Sample Issue1"

[2020-03-16 07:04] Adharshd opened #3 "Story::As a candidate, I would like to read the instructions to understand how the test is conducted."
- [ ] Creating the UI for instructions page - use the attached screen for content. https://github.com/rkulkar5/OnlineTAT/issues/15
- [ ] Creating the APIs to Get the total time and no. of questions. The total test time and no. of questions are configurable.

[2020-03-16 07:14] Adharshd opened #4 "Story::As a candidate, I would like to start the exam once I have read the instructions."
- API to load the questions in the required order once the candidate clicks on "Start Exam"  button in user story: https://github.com/rkulkar5/OnlineTAT/issues/4

[2020-03-16 07:23] Adharshd opened #5 "Story::As a candidate, I would like to read the questions and options before deciding on the answer"
- [ ] UI to view the questions and options. https://github.com/rkulkar5/OnlineTAT/issues/16
- [ ] Radio Button/Check-Box provided for options in UI as per the "Question Type".
- [ ] API/Method is needed to read the Questions and Options.

[2020-03-16 07:24] Adharshd opened #6 "Story::As a candidate, I would like to be able to know the time remaining for the test at all times"
- Add the "Time Remaining: " prompt in UI as per the issue: https://github.com/rkulkar5/OnlineTAT/issues/5
- Method/API to calculate and track the time remaining.

[2020-03-16 07:25] Adharshd opened #7 "Story::As a candidate, I would like to select my answer"
- [ ] API/method to save the answer provided by the user.

[2020-03-16 07:26] Adharshd opened #8 "Story::As a candidate, I would to flag/unflag any question"
- [ ] Include the Flag Button in the UI of https://github.com/rkulkar5/OnlineTAT/issues/5 as per the screens attached in this story.
- [ ] Method to save the question ID which is Flagged.

[2020-03-16 07:26] Adharshd opened #9 "Story::As a candidate, I would like to view the summary to understand the exact flagged, answered and unanswered questions at all times"
- [ ] API/Method to get the current summary of the quiz.
- [ ] UI of the summary page(see attached in comments).
- [ ] Enable going back to the previous question(from where the Summary button is clicked).
- [ ] Enable links to all questions in the summary.
- [ ] Adding Summary Button in Question UI Screen. (is blocked by https://github.com/rkulkar5/OnlineTAT/issues/16)

[2020-03-16 07:26] Adharshd opened #10 "SampleIssue2"

[2020-03-16 07:26] Adharshd opened #11 "Story::As a candidate, I would like to proceed to the next question."
- [ ] API/Method to proceed to enable proceeding to the next question in line.
Displaying each question in UI is blocked by https://github.com/rkulkar5/OnlineTAT/issues/16

[2020-03-16 07:26] Adharshd opened #12 "Story::As a candidate, I would like to be reminded about the current summary(especially the unanswered questions) when I try to finish the exam before answering all the questions"
- [ ] API/Method to check whether all the questions are answered https://github.com/rkulkar5/OnlineTAT/issues/19
- [ ] Adding Finish Button to the last question screen of the test. (is blocked by https://github.com/rkulkar5/OnlineTAT/issues/16)
- [ ] Both the UI and Method to enable warning screen to be displayed - when the candidate tries to finish test without answering all questions - see the s

[2020-03-16 07:27] Adharshd opened #13 "Story::As a candidate, I would like to be reminded that I still have 'x" amount of time remaining when I try to finish the test before the allotted time in spite of answering all the questions"

[2020-03-16 07:27] Adharshd opened #14 "Story::As a candidate, I would like to be know my score and whether I have passed or failed the test."
- [x] No of questions correct versus total.

[2020-03-16 10:51] Adharshd commented on #1
PFA the screen for login page

![DWP(2)](https://user-images.githubusercontent.com/8875515/76749215-2452f200-67a2-11ea-97b9-fa435abdbab4.png)

[2020-03-16 11:00] Adharshd commented on #3
PFA the instructions Page

![DWP(5)](https://user-images.githubusercontent.com/8875515/76749948-62044a80-67a3-11ea-8aa0-0a4c172313b8.png)

[2020-03-16 11:24] Adharshd commented on #4
PFA the below image for first questions without Back button![DWP(6)](https://user-images.githubusercontent.com/8875515/76753285-9cbbb200-67a6-11ea-9d02-b3d3cd56b586.png)

PFA the below image for other questions with Back button
![DWP(8)](https://user-images.githubusercontent.com/8875515/76753498-ca086000-67a6-11ea-8f89-16556fc1463c.png)

[2020-03-16 11:29] Adharshd commented on #5
PFA the screen for questions description with options
![DWP(6)](https://user-images.githubusercontent.com/8875515/76753745-09cf4780-67a7-11ea-85cc-0938be40595f.png)
**Ignore the buttons for this user story.**

[2020-03-16 11:55] Adharshd commented on #8
Question Screen before Flagging a question
![DWP(8)](https://user-images.githubusercontent.com/8875515/76756055-06d65600-67ab-11ea-8cfc-3ffb0973ced8.png)

Question Screen after Flagging a question
![DWP(9)](https://user-images.githubusercontent.com/8875515/76756083-12c21800-67ab-11ea-8988-3963c2bc9289.png)

[2020-03-16 17:46] Adharshd opened #15 "Task:: Creating the UI for instructions page"

[2020-03-16 17:46] Adharshd commented on #15
https://user-images.githubusercontent.com/8875515/76749948-62044a80-67a3-11ea-8aa0-0a4c172313b8.png

[2020-03-16 17:56] Adharshd opened #16 "Task::UI to view the questions and options."

[2020-03-16 17:56] Adharshd commented on #16
Example of a Question Screen: https://user-images.githubusercontent.com/8875515/76753745-09cf4780-67a7-11ea-85cc-0938be40595f.png

[2020-03-17 04:48] Adharshd commented on #9
PFA an example of the Summary Page

![DWP(14)](https://user-images.githubusercontent.com/8875515/76822946-8f4f0800-6838-11ea-92a0-9cd5bdcc2c29.png)

Summary Button in a Question Screen.
![DWP(12)](https://user-images.githubusercontent.com/8875515/76822973-a7bf2280-6838-11ea-9612-8c2ce4101f85.png)

[2020-03-17 04:52] Adharshd opened #17 "Task::Adding Summary Button in Question UI Screen."

[2020-03-17 04:53] Adharshd commented on #17
The Summary Button can be seen here:
https://user-images.githubusercontent.com/8875515/76822973-a7bf2280-6838-11ea-9612-8c2ce4101f85.png

[2020-03-17 07:35] Adharshd commented on #12
As shown below the last question should have a Finish Button
![Q4-Answer](https://user-images.githubusercontent.com/8875515/76832443-52424000-684f-11ea-8f8b-d20772e106e7.png)

The warning to be displayed when the candidate tries to finish without answering all questions.
![Finish the test](https://user-images.githubusercontent.com/8875515/76832693-d8f71d00-684f-11ea-81ad-db7e60463704.png)

[2020-03-17 07:40] Adharshd opened #18 "Task::API/Method to get the current summary of the quiz."

[2020-03-17 07:41] Adharshd commented on #18
![DWP(16)](https://user-images.githubusercontent.com/8875515/76833095-bf0a0a00-6850-11ea-93e1-7dc441df256a.png)

[2020-03-17 08:24] Adharshd opened #19 "Task::API/Method to check whether all the questions are answered."

[2020-03-17 09:21] Adharshd commented on #11
![DWP(10)](https://user-images.githubusercontent.com/8875515/76841455-cb955f00-685e-11ea-8774-b96fbb96358d.png)

[2020-03-17 09:27] Adharshd commented on #13
![DWP(23)](https://user-images.githubusercontent.com/8875515/76842054-aead5b80-685f-11ea-8d37-473c2f70558d.png)

[2020-03-17 13:46] Adharshd opened #20 "Misc::Images for GitHub WiKi"

[2020-03-17 13:48] Adharshd commented on #20
![image](https://user-images.githubusercontent.com/8875515/76862387-0bbb0880-6884-11ea-8cb2-931cf7fb8284.png)

[2020-03-27 09:04] Adharshd commented on #7
![DWP(32)](https://user-images.githubusercontent.com/8875515/77739719-0144ff80-7038-11ea-9aed-0b69f6019329.png)

[2020-03-27 09:05] Adharshd commented on #14
![DWP(32)](https://user-images.githubusercontent.com/8875515/77739837-3c473300-7038-11ea-8251-0fb3ab4dd817.png)

[2020-04-02 05:30] Adharshd opened #21 "Issue::Add a hover in summary page while navigating to different questions"

[2020-04-06 04:16] Adharshd opened #22 "Story::As a candidate, I would like to change/reset a password when I forget the same."

[2020-04-06 04:37] Adharshd commented on #22
![DWP(9)](https://user-images.githubusercontent.com/8875515/78523429-5fb76e00-77ee-11ea-878f-ad79ab0fc480.png)

![DWP(10)](https://user-images.githubusercontent.com/8875515/78523451-7231a780-77ee-11ea-8b62-3a922f0bf4b3.png)

[2020-04-06 04:40] Adharshd opened #23 "Story::As an candidate, I would want to change from the default to my own password mandatorily when I login to the app for the first time"

[2020-04-06 04:47] Adharshd commented on #23
![DWP(11)](https://user-images.githubusercontent.com/8875515/78523864-c8ebb100-77ef-11ea-8721-0ab09fb18828.png)

[2020-04-06 05:08] Adharshd opened #24 "Story::As an admin, I would like to register a candidate by providing the necessary candidate details"
Task::As an admin, I would want a default password to be set when I register a candidate.

[2020-04-06 05:09] Adharshd opened #25 "Story::As an admin, I would want to able to make any candidate active or inactive at anytime"

[2020-04-06 05:10] Adharshd opened #26 "Story::As an admin, I would like view all the registered candidate's details"
Scores of each candidate in all the attempts to be included in View Candidate Screen

[2020-04-06 05:23] Adharshd commented on #24
![DWP(14)](https://user-images.githubusercontent.com/8875515/78525455-ccce0200-77f4-11ea-9fc7-dacecc7bf7ab.png)
![DWP(15)](https://user-images.githubusercontent.com/8875515/78525456-cdff2f00-77f4-11ea-94fb-49fcc6fe66ac.png)

[2020-04-06 05:24] Adharshd opened #27 "Story::As an admin, I should be able to increase the quiz number of active candidates for a maximum up to 3"

[2020-04-06 05:28] Adharshd opened #28 "Story::As a Admin, I would like to save the results of all the tests of the candidates"

[2020-04-06 05:29] Adharshd opened #29 "Task::Instructions page should match the time/no of questions with the configuration in the backend"

[2020-04-21 08:18] Adharshd opened #30 "Story::As an admin, I would like to add a question to the question bank"

[2020-04-21 08:19] Adharshd commented on #30
![Admin - AQNew JRSS DD](https://user-images.githubusercontent.com/8875515/79842793-f1ba9b80-83d6-11ea-8acc-2dd114a120d0.png)

[2020-04-21 08:22] Adharshd opened #31 "Story::As an admin, I would like to map each question with a JRSS"

[2020-04-21 08:22] Adharshd commented on #31
The Different "JRSS to be mapped" are 1) Java Technical Assessments 2) DevOps 3) QA & Automation

![Admin - AQNew Unfilled](https://user-images.githubusercontent.com/8875515/79843065-5bd34080-83d7-11ea-8b16-0b9b0721e6dc.png)

[2020-04-21 08:25] Adharshd opened #32 "Task::Two rules for Question Selection"
The two rules for question selection are

1) The questions for the test should be picked randomly.
2) 2) If someone is attempting the test more than once - all the questions in the test should be totally different from all his/her previous attempts.

[2020-05-05 04:47] Adharshd opened #33 "Story::As an admin, I would like to add questions in bulk so that I can save time"

[2020-05-05 04:48] Adharshd opened #34 "Story::As an admin/recruiter, I would like to the result of each test by candidates so that I can make a decision on their progression/selection"

[2020-05-05 04:49] Adharshd opened #35 "Story::As an admin/recruiter, I would like to view all the answers selected by candidates during every exam."

[2020-05-05 04:51] Adharshd opened #36 "Story:: As an admin, I would like to edit/delete the default available JRSSs and technology streams as per requirement."

[2020-05-05 04:51] Adharshd opened #37 "Story:::As an admin, I would like to choose the number of questions and timings for each assessment type/JRSS"

[2020-05-05 04:52] Adharshd opened #38 "Task::Security NFRs for REST APIs"

[2020-05-05 04:53] Adharshd opened #39 "Story::As an admin, I would like to choose the technology stream for each JRSS/assessment type while registering a candidate"

[2020-05-05 04:55] Adharshd commented on #34
[View Candiate Result Feature Prototype-2.docx](https://github.com/rkulkar5/OnlineTAT/files/4578963/View.Candiate.Result.Feature.Prototype-2.docx)

[2020-05-05 04:55] Adharshd commented on #35
[View Candiate Result Feature Prototype-2.docx](https://github.com/rkulkar5/OnlineTAT/files/4578964/View.Candiate.Result.Feature.Prototype-2.docx)

[2020-05-29 07:08] Adharshd opened #40 "Story::As a candidate, I would like to access the pre-technical form if/when I have passed the test in the Results Page"
Here is a UI example of the Result Page: ![image](https://user-images.githubusercontent.com/8875515/83231506-35a87980-a1a9-11ea-976c-858ef488d3c9.png)

[2020-05-29 07:23] Adharshd opened #41 "Story::As a candidate, I would like to access the pre-techical interview form the next time I login after the test"
The candidate, if he does not fill-up the pre-technical assessment form completely by using the link in the result page - the candidate should have access to the form link when he logs in again, along with instructions(to be updated once we receive the sample form from Amit).

You can include the below as instructions for filling up the pre-technical assessment form in the Welcome page UI

1) The

[2020-06-01 06:50] Adharshd opened #42 "Story::As a candidate, I would like to fill the pre-technical form with the option save drafts so that I can come back and fill up the rest of the form at a later time."
Here is the sample Pre-technical interview form shared by Amit for Java Technical Assessment JRSS:
[Pre-Tech Interview Form - Java Technical Assessment.docx](https://github.com/rkulkar5/OnlineTAT/files/4709814/Pre-Tech.Interview.Form.-.Java.Technical.Assessment.docx)

Here is a sample UI screen for the pre-technical assessment form:
![DWP(23)](https://user-images.githubusercontent.com/8875515/8384

[2020-06-01 06:56] Adharshd opened #43 "Story:: As a tech SME, I would like to view the details of candidates in my queue"
You can find the UI Screen for Tech SME Queue here:
![Tech SME Queue2](https://user-images.githubusercontent.com/8875515/83383588-12790680-a403-11ea-9980-42cd304239ff.png)

[2020-06-01 06:57] Adharshd opened #44 "Story::As a tech SME, I would like to update the tech stream score, interview result and interview feedback of each candidate"
**(As discussed, you can ignore the links and also delete and add rows buttons for this Sprint)**
The **final result** drop-down to have the options a) Highly-recommended b) Recommended c) Not suitable.

You can find the UI Screen for initiating Tech SME interview and updating candidate details post Technical Interview here:
![Tech SME - Inititate Interview Screen](https://user-images.githubuserco

[2020-06-01 07:03] Adharshd opened #45 "Story::As a Partner, I would like to view the details of candidates in my queue"
**(As discussed, the Candidate CV link can be ignored for this Sprint)**

The UI Screen for Partner Interview Queue:

![Partner Queue](https://user-images.githubusercontent.com/8875515/83384017-fa55b700-a403-11ea-9c39-f15178d3654c.png)

[2020-06-01 07:05] Adharshd opened #46 "Story::As a Partner, I would like to update partner result and partner feedback for each candidate after my interview"
**(As discussed, the link to CV and to the pre-technical interview assessment form can be ignored for this Sprint)**

The UI Screen for initiating Partner Interview and updating Partner Interview Results is:
![Partner  - Initiate Interview Screen](https://user-images.githubusercontent.com/8875515/83384184-5c162100-a404-11ea-9446-d415c0309b21.png)

[2020-06-01 07:08] Adharshd opened #47 "Story::As a Partner, I would like to view the technical interview results such as technical interview score, technical interview result and technical interview feedback"
The UI Screen depicting the information to be shared while the partner updates the interview results:
![Partner  - Initiate Interview Screen](https://user-images.githubusercontent.com/8875515/83384331-b0b99c00-a404-11ea-9836-4e7a49097c02.png)

[2020-06-01 07:10] Adharshd opened #48 "Story::As an operations lead, I would like to view the candidates in my queue for assigning projects"
**(As discussed, the CV links can ignored for this Sprint)**
The UI screen for this queue:
![Project Assigment Queue](https://user-images.githubusercontent.com/8875515/83384494-fd04dc00-a404-11ea-9dcb-92e3c26dc08b.png)

[2020-06-01 07:13] Adharshd opened #49 "Story::As an operations lead, I would like to assign a candidate to a particular project by updating location, project name and position"
P.S: The Location drop-down to have only two options: a) Onshore b) Offshore

The UI Screen is

![Candidate Project Assignment](https://user-images.githubusercontent.com/8875515/83384664-5bca5580-a405-11ea-8f21-81bacbea5f0b.png)

[2020-06-01 07:14] Adharshd opened #50 "Story::As a operations lead, I would like to view the technical and partner interview's scores(if applicable), results and feedback"
The previous rounds' scores and results can also be viewed in the Project Assignment screen as shown below:

![Candidate Project Assignment](https://user-images.githubusercontent.com/8875515/83384805-a350e180-a405-11ea-9ca1-f5f6430d7a29.png)

[2020-06-03 06:57] Adharshd opened #51 "As a partner, I would like to view the candidates who are recruited so that I can assign them to projects, if required"
Here is the screen shown to Operations Team - The partner should be able to see a similar screen

![Project Assigment Queue](https://user-images.githubusercontent.com/8875515/83605439-89de9f80-a595-11ea-83ad-19a67a08b3a8.png)

[2020-06-03 06:59] Adharshd opened #52 "As an partner, I would like to assign a candidate to a particular project by updating location, project name and position"
The **Location** dropdown to have options: Onshore and offshore

The screen for the assigning projects to recruited and assigning them to projects:

![Candidate Project Assignment](https://user-images.githubusercontent.com/8875515/83605584-cc07e100-a595-11ea-8dfd-9bff90ad3ef0.png)

[2020-06-03 07:01] Adharshd opened #53 "Story:: As a partner, I would like to view the technical and partner interview's scores(if applicable), results and feedback"
The screen for the same - which contains the candidate details:
![Candidate Project Assignment](https://user-images.githubusercontent.com/8875515/83605744-0f624f80-a596-11ea-8da7-0728aa0b3191.png)

[2020-06-08 09:22] anilktm commented on #44
I have developed the UI screen & Api for the requirement.
The data flow completed and code available in git.

[2020-06-08 09:46] anilktm commented on #44
@Adharshd

After submitting the technical SME review, Do I need to display any confirmation page?
Its not mentioned in the user story.
What's next action after the technical SME review submission?

[2020-06-15 09:17] anilktm commented on #44
US-44 requirement completed.

[2020-06-17 02:30] Adharshd opened #55 "Story:: As a admin, I would like to have the option to update a candidate's CV"
The CV to be uploaded in the "Add Candidate" Screen

[2020-06-17 02:31] Adharshd opened #56 "Story:: As a candidate, I would like to have the option to upload a CV while filling up the pre-technical assessment form."

[2020-06-17 02:33] Adharshd opened #57 "As an admin, I would like to create technical SME, Partner, Operations and Management users"

[2020-06-17 02:33] Adharshd opened #58 "Story::As an admin I would like to configure the pre-technical interview form for each JRSS"

[2020-06-17 02:35] Adharshd opened #59 "Story::As a tech SME/Partner/Operations Lead, I would like to view the candidate CVs & the Pre-Technical Assessment Form"
The links to the CVs and pre-tech form to be activated.

[2020-06-17 02:38] Adharshd opened #60 "Story::As a tech SME, I would like to search for candidates using name and JRSS in my queue"
The search options for Technical SME are  name and JRSS.

Let me know in case of any more questions.

[2020-06-17 02:42] Adharshd opened #61 "Story::As a Tech SME/Partner/Operations Lead, I would like to excempt candidates in my queue from the corresponding Technical Interview/Partner Interview/Project Assignment stage, if required."

[2020-06-17 03:50] Adharshd opened #62 "Story::As an operations lead and partner, I would like to view the dashboard of all the candidate's progresss in the recruitment process"
Screen shared by Amit:

[2020-06-17 04:10] Adharshd opened #63 "Story::As a Partner and Operations Lead, I would like to view a Report of the number of candidates in each stage of the recruitment process"
Screen shared by Amit: https://app.mural.co/t/dttrial7044/m/dttrial7044/1590666176426/15b80ab856b54e73355ff2d19e5eb5150ae1e302?wid=0-1591939811584

[2020-06-17 07:10] Adharshd opened #64 "Story::As a Partner/Operations Lead, I would like to search for candidates in my queue"
For Partner: name and JRSS
For Operations Lead: name

[2020-06-19 05:17] Adharshd opened #65 "Defect::For each Job Role, if the Work Flow is not defined then the Job role should not be available in the Candidate Registration page."

[2020-06-19 05:22] Adharshd opened #66 "Story::As an admin, I would like to create a candiate profile for a IBM contractor or non-IBM Employee"
In the create candidate - a drop-drop down for a) IBM Regular Employee b) IBM Contractor defines the screen.

[2020-06-19 05:23] Adharshd opened #67 "Defect::“Talent Sourcing Tool” Image instead of “Talent Sourcing Tool” in Times New Roman."

[2020-06-19 05:24] Adharshd opened #68 "Defect::Issue with refreshing the config when we create a new Job Role and change the drop-down option to that job role."

[2020-06-19 05:25] Adharshd opened #69 "Defect:: Changes to“Technology Stream Mapping to Job Role” UI"
To look like:
![image](https://user-images.githubusercontent.com/8875515/85099584-636a6680-b21b-11ea-811c-91d5bdb21701.png)

(In the above scenario -- to prevent the breaking of existing questions & candidates – the technology streams to be added to questions and candidate MongoDB collections with referring it to the jrss collection.)

[2020-06-19 05:26] Adharshd opened #70 "Defect::If in the “New Tech. Stream” text box, an existing tech stream is provided – should result in validation error irrespective of lowercase/uppercase differences with existing tech. stream"

[2020-06-19 05:27] Adharshd opened #71 "Defect: In add Test Config UI - 1) Heading Typo to corrected & include 2) "Action" Column title for buttons."
![image](https://user-images.githubusercontent.com/8875515/85099676-a75d6b80-b21b-11ea-84ca-a0d8162e13df.png)

[2020-06-19 05:31] Adharshd opened #72 "Defect::In Add Test Config. - Edit Option to be changed to Remove option(Editfunctionality is not required)."
Remove Button instead of Edit button

![image](https://user-images.githubusercontent.com/8875515/85099818-14710100-b21c-11ea-8479-d3c393a68d76.png)

[2020-06-24 05:27] Adharshd opened #73 "Defect: Issues with the Candidate Details link popup in View Test Results Screen"
-     Give some margin/consistent space for the label and value.
-     Give a space in dateofjoining
-     Display human readable date of joining

![image.png](https://images.zenhubusercontent.com/5a9542454b5806bc2bc88f93/c01355f7-81ff-426f-9cd7-bd96a50056be)

[2020-06-24 05:29] Adharshd opened #74 "Defect: In View Test Results Screen - No Search Results does not dynamically change the No of Pages displayed in Results."
![image.png](https://images.zenhubusercontent.com/5a9542454b5806bc2bc88f93/07676069-f204-48d9-a5db-a500cd753e6b)

[2020-06-24 05:31] Adharshd opened #75 "Defect: Hyperlink not changing to hand symbol when hover over the link for Resume Template"
![image.png](https://images.zenhubusercontent.com/5a9542454b5806bc2bc88f93/8cbb03e5-45c1-430d-86e1-1dededc221fd)

[2020-06-24 05:32] Adharshd opened #76 "Defect:: Issues with success message when the questions are uploaded in bulk"
![image.png](https://images.zenhubusercontent.com/5a9542454b5806bc2bc88f93/c88e966b-2365-4bde-9193-91953116afed)

[2020-06-25 10:31] Adharshd opened #77 "Defect:: . If Pre-technical interview questions are not uploaded to the DB, then the Pre-Technical interview assessment stage should be greyed or disabled."

[2020-06-25 10:32] Adharshd opened #78 "Defect::The technology stream field in the candidate information tab to be a drop down to reduce the misalignment of other elements, if more values are to be added."

[2020-06-25 10:33] Adharshd opened #79 "Defect: Provide Candidate details link to SME/Partner using a link in the queue"

[2020-06-25 10:35] Adharshd opened #80 "Defect::Technology Stream Mapping to Job Role” UI changes"
The Delete Mapping part is not 100% complete.

Along with UI changes to the list.

[2020-06-25 10:37] Adharshd opened #81 "Defect::Issues with pagination in “View Candidates” resulting in random number is results per page."

[2020-07-07 04:17] Adharshd opened #82 "Story::As an admin, I would like to view the list of candidates who are not assigned to projects along with the result or status of each round"
![image](https://user-images.githubusercontent.com/8875515/86708584-b4a99100-c036-11ea-8b41-cb4243f5fed1.png)

[2020-07-07 04:26] Adharshd opened #83 "Story::As an admin, I would like to view all the candidate details(Name, email, JRSS, Score, Tech Interview, CV link, Pre-tech form) before providing exception approval."
UI Screen shared by Amit:

![image](https://user-images.githubusercontent.com/8875515/86709905-0a326d80-c038-11ea-8cb3-4b60c6c38548.png)

[2020-07-07 04:29] Adharshd opened #84 "Story::As an admin, I would like to provide exception approval to a candidate, on any of the stages of the workflow in a single place, which overrides the candidate's JRSS workflog configutaion"
![image](https://user-images.githubusercontent.com/8875515/86710276-6dbc9b00-c038-11ea-823c-f657541bd837.png)

[2020-07-07 05:00] Adharshd opened #85 "Story::As a Tech SME and Partner, I would like to send an email to the candidate with info about my one comfortable time for the interview requesting to confirm, defer or decline."
As per the current discussion, the automated email should contain

(a) Interview subject line - e.g. Technical Interview for a Java Developer role for a public sector client, Date, time

(b) Interview Schedule: Start Date, Start Time, End date End time, like we have in Lotus notes calendar

(c) Location of interview - provide webex link or conf call details

(d) Body of the email - specifics on jo

[2020-07-07 05:01] Adharshd opened #86 "Story::As a candidate, I would like to notified via email when I am ready to take online assessments"
So, the email notification has to be triggered when a candidate profile is created by the admin in the tool

[2020-07-07 05:03] Adharshd opened #87 "Story::As a Tech SME and Partner, I would like to be notified via email when a new candidate is added to my queue"

[2020-07-07 05:04] Adharshd opened #88 "Story::As a Operations lead, I would like to be notified via email when a new candidate is added to my project assignment queue"

[2020-07-07 05:04] Adharshd opened #89 "Story::As a candidate, I would like to be notified when I am assigned to a project."

[2020-07-07 10:11] Adharshd opened #90 "Story:: As a TechSME and Partner, I would like to view the Candidate Details and in my queue"

[2020-07-23 09:03] Adharshd opened #95 "Story::As a Account level Tech SME, I should be able to view only the candidates of my accounts in TechSME queue"

[2020-07-23 09:03] Adharshd opened #96 "Story::As a account level Partner, I should be able to view only the candidates in my account in the Partner & project assignment queue"

[2020-07-23 09:04] Adharshd opened #97 "Story::As a Account level Operations/management lead, I should be able to view only the candidates of my account in my queue"

[2020-07-23 09:04] Adharshd opened #98 "Story::As an account level admin, I should be able to create candidates belonging to any account in the sector."

[2020-07-23 09:05] Adharshd opened #99 "Story::As an account level admin, I shoudl be able tp capture all inputs(Line of Business, Candidate Location, Job Location....) to calculate the Gross Profit % for that particular candidate."

[2020-07-23 09:06] Adharshd opened #100 "Story::As a partner and opertions lead, I should be able to identify whether a candidate has passed or failed the online assessments (in addition to the score) in dashboard"

[2020-07-23 09:06] Adharshd opened #101 "Story::As an admin, partner and operations lead, I should be able to view the Gross Percentage % by providing the inputs required to calculate that GP."

[2020-07-23 09:07] Adharshd opened #102 "Story::As a candidate(below 7 band), I should have 70% questions which are of simple & medium difficulty to appear in the online assessment tests"

[2020-07-23 09:07] Adharshd opened #103 "Story::As a candidate(7 and above band), I should have all questions which are of Complex difficulty level to appear in the online assessments"

[2020-07-23 09:08] Adharshd opened #104 "Technical Story: Adding a new field - difficulty level - in the DB"

[2020-07-23 09:08] Adharshd opened #105 "Story::As a Sector Tech SME, upload question to one, many all the accounts in sector"

[2020-07-23 09:09] Adharshd opened #106 "Story::As a Sector Tech SME, upload questions in bulk to one,or many all the sccounts in sector"

[2020-07-23 09:09] Adharshd opened #107 "Story::As an admin, I should be allowed to map a technology stream to a Job Role only if there is atleast one question in the question bank mapped to the same technology stream"

[2020-08-13 10:22] Adharshd opened #109 "Story::As an admin and tech SME, I would like to view all the questions from the question bank"
Can be a separate option under the "Manage Questions" tab.

Pagination can be implemented.

[2020-08-14 08:41] Adharshd opened #110 "Story::As a super admin, I would like to create account level admins as per the requirement."

[2020-08-14 08:42] Adharshd opened #111 "Story::As a super admin, I would like to have the option to create sector-level users such as SME, partner and operations lead"

[2020-08-14 08:43] Adharshd opened #112 "Story:: As an admin, I should be able to identify and recognize the candiates who have passed or failed the online assessments when viewing the dashboard"
In the dashboard - Online assessment score suggests to introduce color coding, passed candidates score shall be shown in dark green and failed ones in red color.

[2020-08-14 08:45] Adharshd opened #113 "Story::As an SME, partner and operations lead, I would like to search for candidates using Account as a criteria in my queues"

[2020-08-14 08:47] Adharshd opened #114 "POC of the tool using Material Design CSS Framework"

[2020-08-17 10:42] Adharshd opened #115 "Story::As an admin, partner, operations lead, I would like to be able to recognize or identify an open position uniquely"
Identifying an open position uniquely can be done by creating unique ID mapped to each open position.

[2020-08-18 14:28] Teja-swi commented on #95
Test result - Passed
Being an account level SME, I am able to view candidates of only my account

[2020-08-18 14:42] Teja-swi commented on #96
Test Result - Passed
As a account level Partner, I am able to view only the candidates in my account in the Partner & project assignment queue

[2020-09-09 13:40] Teja-swi opened #117 "Super Admin - Users List is not fetching details correctly"
a)	‘User list’ is displaying different users while navigating back and forth from ‘update/ Cancel’ screen. When logged in only admin users are displayed in Users list and when navigated back from ‘update/ Cancel’ screen it is showing partner/SME details of all accounts.
b)	Log out option is also not available, when navigated back from ‘update/ Cancel’ screen.
![image.png](https://images.zenhubuser

[2020-09-09 14:27] Adharshd commented on #117
@Harshitha-Edpuganti Can you please check? I think, among other things, this is caused by wrong link navigation when we click on "Update" in edit user?

[2020-09-10 05:15] Harshitha-Edpuganti commented on #117
The issues mentioned above are fixed and checked-in.

[2020-09-10 05:40] Adharshd commented on #117
@Teja-swi The issue is fixed - please test the same by taking latest from GIT.

[2020-09-10 08:30] Teja-swi opened #118 "'Change Password' option is not populating for admins created by Super Admin"
Created account level admin as super admin. But change password option is not available, when logged-in as admin. This is working correctly for SME /partner/management.

[2020-09-10 08:36] Teja-swi commented on #117
Hi Harshitha,

Currently the list is fetching only admin users, But not fetching sector level SME, Partner, Operations details.

[2020-09-10 08:41] Teja-swi opened #119 "Super admin is able to 'update' account level admin as 'sector' level admin"
Super admin is not able to create sector level admin which is as per design. But Later super admin can update an account level admin to sector level admin. Similarly, roles can be changed to account level sme/partners/ops.

Colliding with requirement: There is no sector admin and thus it indicates user registration will be done only by account level admins.
![image.png](https://images.zenhubuserco

[2020-09-10 08:48] Teja-swi opened #120 "Questions added by Sector SME to multiple accounts(in an array) were not reflecting in 'View questions' list of account level admin."
Questions added by Sector SME to multiple accounts(in an array) were not reflecting in the 'View questions' list of  account level admin.

[2020-09-10 09:06] Harshitha-Edpuganti commented on #117
Hi Tejaswi,

We can see all the sector level sme,partner,ops and Account level admins in the Users List even after Edit screen Update/Cancel. Please check if you have latest code.

[2020-09-10 09:17] Adharshd commented on #118
@Harshitha-Edpuganti Can you check this?

I am sure the same issue exists for admin, TechSMEs, Partners, Operations users as well in adddition to Super Admin. Thank you

[2020-09-10 09:21] Adharshd commented on #119
@Harshitha-Edpuganti Can you please check this and let me know whether this is an issue in coding or only in backend data which Tejaswi ahs? Thank you.

[2020-09-10 09:22] Adharshd commented on #120
@deenagesnagesh Can you please check this? Reach out to Tejaswi for any questions. Thank you.

[2020-09-10 12:00] Teja-swi commented on #117
As discussed, this works fine for 'SECTOR'. Hence, closing this issue.

[2020-09-10 12:00] #117 closed, assigned to Adharshd, Teja-swi

[2020-09-10 12:28] Harshitha-Edpuganti commented on #119
Hi Tejaswi
This issue has been fixed with Rashmi's latest code changes. Please check and confirm.

[2020-09-10 12:31] Harshitha-Edpuganti commented on #118
Hi Adharsh, only admin users don't get change password screen as per our old design.
Hi Tejaswi, I have fixed this. Please check and confirm.

[2020-09-10 14:13] Teja-swi opened #121 "When logged-in as a user , unable to see the user name who has logged in ..applicable to all webpages"
When logged-in as a user , unable to see the user name who has logged in ..applicable to all webpages.

For example, if we login to a gmail account, we could see user name and email address at the top right corner along with log out option.

[2020-09-10 14:17] Teja-swi opened #122 "Super Admin - Users List Filters are missing"
Filters are missing to search a particular user from 'Users List' in Super Admin.

[2020-09-11 05:53] Adharshd commented on #121
To be discussed - with the team and Amit - as this is a new requirement.

[2020-09-11 05:55] Adharshd commented on #122
@Harshitha-Edpuganti the expectation is to add Filters similar to what we have in SME, Partner and Operations/Managment user list.

[2020-09-11 07:04] Teja-swi opened #123 "Super admin - Add user"
User role has to be selected prior to Account.  A message needs to be displayed like ' select user role first' when trying to select value of Account initially.

[2020-09-11 07:06] Teja-swi opened #124 "Any user role - Blank Page appears when user tries to refresh the page."
Any user role - Blank Page appears when user tries to refresh the page.

[2020-09-11 07:33] Teja-swi opened #125 "Account level admin - Navigation Bar"
a) Currently section is not highlighting when an admin is navigating through various sections like Manage users , Mange Questions, Manage metadata etc

![image](https://user-images.githubusercontent.com/66815529/92884008-128b9800-f42f-11ea-9d66-db2f8571ff44.png)

b)Navigation bar - In order to see various options available under each section, we need to click twice on the section.

![image](https:

[2020-09-11 08:27] Adharshd commented on #123
@Harshitha-Edpuganti Can you please this whether this is required? Thank you.

[2020-09-11 08:28] Adharshd commented on #124
@rkulkar5 Can you tell me whether this will be solved when the code is deployed in IBM Cloud?

[2020-09-11 08:29] Adharshd commented on #125
To be checked with the team in Scrum call on 11th September.

[2020-09-14 12:06] Teja-swi opened #127 "Add Candidate _ Mobile Number"
Currently TAT tool accepts mobile number less than 10-digit

![image.png](https://images.zenhubusercontent.com/5ee70571210454c96d9aacda/9912c3d2-e44e-4b8b-a9a1-04e26c652dd8)

[2020-09-14 14:34] sivabluemix opened #128 "Logged In as Super (username super) user and Expecting pagenation should show Button to First and Last !!"
[SuperUser_PaginationIssue.docx](https://github.com/rkulkar5/OnlineTAT/files/5219113/SuperUser_PaginationIssue.docx)

Hi @Team,
I logged in as 'super user' and expecting the pagination should show the buttons to 'First' and 'Last' page along with next.,

[2020-09-14 14:40] sivabluemix opened #129 "Singed in as 'super' user and trying to create an SME but its not displaying account in account drop down.,"
[SuperUser_AccountNotDisplaying.docx](https://github.com/rkulkar5/OnlineTAT/files/5219146/SuperUser_AccountNotDisplaying.docx)

Accounts drop down is not populating thought  I selected rest all other fields.,

[2020-09-14 14:42] sivabluemix opened #130 "Singed as Super user and noticed the content of nav bar links are not displaying completely.,"
[SuperUser_Links (nav bar) content is not displaying completely.docx](https://github.com/rkulkar5/OnlineTAT/files/5219163/SuperUser_Links.nav.bar.content.is.not.displaying.completely.docx)

[2020-09-14 14:55] sivabluemix opened #131 "NavBar Missing on WorkFlowMgmt after save.,"
[WorkFlow-Mgmt-NavBar Missing.docx](https://github.com/rkulkar5/OnlineTAT/files/5219237/WorkFlow-Mgmt-NavBar.Missing.docx)

[2020-09-14 14:57] sivabluemix opened #132 "Soring by Status is not working when logged in as admin user"
[SortingByStatus Not working When Logged In with Admin User.docx](https://github.com/rkulkar5/OnlineTAT/files/5219249/SortingByStatus.Not.working.When.Logged.In.with.Admin.User.docx)

[2020-09-14 15:11] sivabluemix opened #133 "Logged in as super user - trying to create a multi account sme, but accounts are not displaying.,"
![LoggedInAs Super User - Why Rest of the Accounts are not displaying ](https://user-images.githubusercontent.com/24892801/93103758-ebd69700-f6a4-11ea-9cee-9df8b4ad7764.PNG)

[2020-09-14 15:14] sivabluemix opened #134 "Logged in as superadmin, created a sector sme 'sivasectorsme1' but its not displaying in userlist.,"
![superadmin - Created a sector level sme 'sivasectorsme1' but its not displaying in userlist](https://user-images.githubusercontent.com/24892801/93104132-5daee080-f6a5-11ea-9475-d039421628da.PNG)

[2020-09-14 15:21] sivabluemix opened #135 "Sector SME Password Change.,"
Hi Team,
I have created a sector level sme after logging with 'superadmin' on bluemix., It was shown me the success popup but this sectorsme was not displayed on same screen's userlist.,
Now, as i know it was created successfully (it showed me a popup while creation), now i was trying to login as secor sme and for that i am trying to change password.,
But, why its asking for data of birth, as we h

[2020-09-14 17:59] Adharshd commented on #127
To be discussed in 15th Sept Scrum Call.

[2020-09-14 18:04] Adharshd commented on #134
@ranjeetibm Temporarily assigned to you as Harshitha is not available.

[2020-09-14 18:05] Adharshd commented on #133
@rashmidevapura Can you assist Siva in creating the multiple account SME?

[2020-09-14 18:08] Adharshd commented on #131
@rkulkar5 Can you please check this issue?

[2020-09-14 18:11] Adharshd commented on #129
@rashmidevapura can you please check this?

[2020-09-14 21:09] sivabluemix opened #136 "[Cloud-TST] Logged in as DWPAdmin (shared by rajesh) and trying to create a position.,"
defect#1)  the space between 'save, reset, cancel' is not equal.,
defect#2)  Clicked save button but the form or data entered is not saved.,

[2020-09-14 21:14] sivabluemix opened #137 "[Cloud-TST] Logged in with DWPAdmin - On Test View Results - Trying to test for email filter - Believe not working"
I gave 'siv' in the email filter but there is no candidate with the e-mail of 'siv' content, but then why its displaying a single row.,
![EmailFilter_View Test Results](https://user-images.githubusercontent.com/24892801/93138831-91a2f980-f6d7-11ea-9831-f6741f53a1ee.PNG)

[2020-09-14 21:18] sivabluemix opened #138 "[Cloud-TST] Logged in as DWPAdmin and trying to create a JOB-Role 'Project Manager Assessment' - clicked save but save button funcitonality not working.,"
![JobRole - Save Functionality Not working](https://user-images.githubusercontent.com/24892801/93139215-37566880-f6d8-11ea-93c9-472ee5a694b7.PNG)

[2020-09-14 21:25] sivabluemix opened #139 "[Cloud-TST] Created a new candidate and trying to set the password using forgot password, but not working.,"
I entered the valid candidate name and date of joining, but its saying invalid data entered, can you please guide me here.,
![ForgotPwd_Notworking](https://user-images.githubusercontent.com/24892801/93139717-3245e900-f6d9-11ea-93db-c9bed4301c7c.PNG)

[2020-09-14 21:26] sivabluemix opened #140 "[Cloud-TST] Responsiveness of total website is slow on cloud - can it be possible to increase underlying capacity.,"

[2020-09-15 09:51] Adharshd commented on #133
@sivabluemix : As discussed in the call, we cant create multi-account users using super admin.

[2020-09-15 09:56] Adharshd commented on #140
@sivabluemix Can you explain more? Is there a particular functionality which is slow?

[2020-09-15 09:58] Adharshd commented on #138
@rkulkar5 Can you check the same? Thank you.

[2020-09-15 10:11] Adharshd commented on #137
@rashmidevapura Can you check the same? I believe this could be the same scenario in local repo.

[2020-09-15 10:27] Adharshd opened #141 "Task:: Add technological streams function for TechSME"
Both the sector and account level TechSME - should be able to add new technology streams(which are not available in the technology stream drop-down).

[2020-09-15 10:52] Adharshd opened #142 "Task:: Add Workflow - The Admin should be able to clearly identify which Job Role belongs to which Account"

[2020-09-15 10:52] Adharshd commented on #142
This is applicable to both Multiple and Single Account Level admins.

[2020-09-15 12:01] Tatireddysreevani opened #143 "[Cloud TST] Logged in as account level partner and clicked on initiate interview, not able to access pre technical interview form"
When we click on the link for “you can access the pre technical interview form here” no questions are loading, the screen is coming like this.

![image](https://user-images.githubusercontent.com/61975055/93207652-e480bd80-f778-11ea-8431-89de78697a86.png)

[2020-09-15 12:05] rashmidevapura commented on #129
@Adharshd : Working as expected and shown as in demo...test it and assign back if fine

[2020-09-15 12:27] Tatireddysreevani opened #144 "Logged in as account level partner, need to do some alignment changes in initiate partner interview screen"
![image](https://user-images.githubusercontent.com/61975055/93209873-58709500-f77c-11ea-8568-0898d41df429.png)

1.	In this screen Initiate Partner Interview tab has moved to right side slightly.
2.	Job Role, Online Test Result, you can access the Pre-Technical-Interview form here and Technical Interview Result has moved
        to left side.
3.	Technical Interview Feedback is not coming on the sam

[2020-09-15 12:52] Tatireddysreevani opened #145 "Account Level Partner- candidate details screen and candidate assessment details screen has not updated"
In project assignment screen, when we click on candidate name and online test result of project assignment queue the screens has not updated.

![image](https://user-images.githubusercontent.com/61975055/93212513-527cb300-f780-11ea-83e7-83eb901562c4.png)

![image](https://user-images.githubusercontent.com/61975055/93212548-5a3c5780-f780-11ea-8f67-c306bb022517.png)

[2020-09-15 12:57] Tatireddysreevani opened #146 "Account Level Partner- It would be better to provide search criteria in open position list for searching open positions easily"
Search criteria has not provided in this open positions list, it would be better to add search criteria for finding open positions easily when there is more number of open positions.

![image](https://user-images.githubusercontent.com/61975055/93213025-f9614f00-f780-11ea-9b61-2c424b40dbbe.png)

[2020-09-15 13:42] sivabluemix opened #147 "Candidate created for NHS account is visible when logged in as DWP only admin under view-candidates."

[2020-09-15 13:46] Adharshd commented on #129
@sivabluemix This is how it is supposed to work as Super Admin only has access to create Sector-level users.

[2020-09-15 13:50] sivabluemix opened #148 "If a question is tagged for two accounts (ex nhs,dwp) and when an admin of DWP logged then that question is not displaying."

[2020-09-15 13:51] Adharshd commented on #143
@Tatireddysreevani Can you confirm that you have loaded the pre-tech questions in backend?

@ranjeetibm can you please check this issue whenever possible?

[2020-09-15 13:53] Adharshd commented on #144
@rkulkar5 Can you please check these issues?

[2020-09-15 13:59] Adharshd commented on #145
Changes to be done - after Sprint 10 work.

[2020-09-15 14:02] Adharshd commented on #147
@sivabluemix This change is part of the Sprint-10 and will be done by 28th.

[2020-09-15 14:04] Adharshd commented on #148
@sivabluemix This issue is already raised by Tejaswi here: https://github.com/rkulkar5/OnlineTAT/issues/120

Please verify.

[2020-09-15 14:07] Adharshd commented on #146
Marked as new requirement.

[2020-09-15 15:27] Premaks opened #149 "test(trying to learn how to create a defect)"
test(trying to learn how to create a defect)

[2020-09-15 15:29] #149 closed, assigned to nobody

[2020-09-16 05:47] Tatireddysreevani commented on #143
yes, pre-tech questions are there in backend

[2020-09-16 06:26] Adharshd commented on #134
Assigned to @Harshitha-Edpuganti

[2020-09-16 07:33] Teja-swi opened #150 "Super Admin - Add user"
After selecting Account in Add user, still 'choose' is displaying

![image.png](https://images.zenhubusercontent.com/5ee70571210454c96d9aacda/c566039d-1ea1-4762-86c9-09110d7a4ad0)

[2020-09-16 08:09] Harshitha-Edpuganti commented on #134
Hi Siva,
It's working fine for me. Can you please check if you have uppercase 'SECTOR' in account collection, if not please change it and try as it should be in upper case.

[2020-09-16 09:06] Teja-swi opened #151 "Admin related to one account is able to create candidate for other account."
Admin related to one account  is able to create candidate for other account. For Example, DWP admin is able to create candidate for NHS

[2020-09-16 09:17] Adharshd commented on #151
@Teja-swi This change is part of ongoing Sprint-10 scope(Under "Screens: Add Candidate") and hence this can be tested once this task is complete.

[2020-09-16 09:18] sivabluemix commented on #134
Hi @Harshitha-Edpuganti ,
I Just tried in Cloud TST also, there also its not working.
1) I entered the data required to create a sector level sme using Superadmin.
2) clicked register button and got a popup saying, user created successfully.
3) Notice, the user-list (bottom of the same page) is not populated with the newly created sector level sme.

Can you try on cloud and let me know !!

My loca

[2020-09-16 09:23] sivabluemix commented on #140
For example, Logged In as 'superadmin' in cloud TST tool, entered data to create an admin for DWP,NHS, after clicking register button the pop-up after fraction of milliseconds and the bottom 'Users List' refreshed after milli seconds
and we can see that gap of missing data on page (userslist) and loading with latest data.,

I think if the underlying CPU, RAM size changes then it may address the is

[2020-09-16 09:39] #148 closed, assigned to sivabluemix

[2020-09-16 09:42] sivabluemix commented on #147
Okay, Will wait till 28 and will do retest later.,

[2020-09-16 09:46] sivabluemix commented on #133
We can only create admin related to multi accounts but SME can only create at the Sector level, not at the multi-account level.,

[2020-09-16 09:46] #133 closed, assigned to sivabluemix

[2020-09-16 10:02] Harshitha-Edpuganti commented on #150
Hi Tejaswi,
Choose disabled option has be removed as it's not required.Please check.

[2020-09-16 10:14] sivabluemix commented on #129
Agreed !!

[2020-09-16 10:14] #129 closed, assigned to sivabluemix

[2020-09-16 13:04] Tatireddysreevani opened #152 "Account level Partner-when we logged in as Partner then it should have Partner Interview, Project Assignment, Open Positions, Dashboard, Report but it getting changed when we click on project assignment"
when we logged in as Partner then it should have Partner Interview, Project Assignment, Open Positions, Dashboard, Report like this.

![image](https://user-images.githubusercontent.com/61975055/93340873-0ba7bf80-f84b-11ea-8f2c-ee4a35a4a561.png)

But when we clicked on Project assignment, its getting changed as below.

![image](https://user-images.githubusercontent.com/61975055/93340991-3134c900-f8

[2020-09-16 13:37] Adharshd opened #153 "Task::The admin can only add open seats belonging to the same account/accounts as admin"

[2020-09-16 14:10] Teja-swi opened #154 "Account level admin - View Candidate"
If a candidate is active, the Action should display ' Disable'

![image.png](https://images.zenhubusercontent.com/5ee70571210454c96d9aacda/894c91c1-3536-46b0-92d4-aabb90b31648)

[2020-09-16 14:14] Adharshd commented on #154
@ranjeetibm Can you please check this issue?

I think we took care of this in bootstrap- might have missed in AM.

[2020-09-16 15:27] sivabluemix opened #155 "Logged in as DWPAdmin and clicked on Manage Openseats"
Label mismatch.,
![DWPAdmin-ManageOpenSeats](https://user-images.githubusercontent.com/24892801/93358487-73550f00-f839-11ea-966b-e408ca86a9e6.PNG)

[2020-09-16 15:32] sivabluemix opened #156 "[Cloud-TST] Manage OpenSeat > Add OpenSeat under DWP-Admin"
[Cloud-TST]Logged in as DWP-Admin and clicked Manag Openseat > Add OpenSeat, Entered the data and click on Save, Save  button functionality is not working.,

[2020-09-16 15:36] sivabluemix opened #157 "[Cloud-TST] Why are we displaying other Accounts in account drop down when we logged in as 'DWP-Admin'"
![Creating_SME_Using_DWPAdminCreds](https://user-images.githubusercontent.com/24892801/93359541-a2b84b80-f83a-11ea-926b-4c0d755899f9.PNG)

Logged in as dwpadmin - Create User (as sme) - expecting only DWP as the value under Account drop down, but display all accounts.,

[2020-09-16 16:02] sivabluemix opened #158 "[Cloud-TST] JRSS - TechStream Mapping Issue"
I logged in as DWP-SME, initiated interview to a candidate,
When giving score to a skill, I can see 'JAVA' is by default loaded (agree) but when click + symbol, its added an another record of Python., Why Python is displaying here ?.,

Refer screenshots.,

![JRSS_2_TechMappingIssue](https://user-images.githubusercontent.com/24892801/93362785-553ddd80-f83e-11ea-960d-60ef014e58de.PNG)
![JRSS_2_TechM

[2020-09-16 16:03] sivabluemix opened #159 "[Cloud-TST] DWPSME - Initiate Interview - Cosmetic Change"
Can you consider to remove the given space.,
![SME-Initiate_Interview-Cosmetic Change](https://user-images.githubusercontent.com/24892801/93363008-959d5b80-f83e-11ea-8e22-bd8244930cff.PNG)

[2020-09-16 16:14] sivabluemix opened #160 "[Cloud-TST] DWP-SME Adding a question, Why we are displaying other accounts in Account drop down?.,"
![DWPSME-QuestionAdd](https://user-images.githubusercontent.com/24892801/93364018-f24d4600-f83f-11ea-923c-656194f24d84.PNG)

[2020-09-16 17:16] sivabluemix opened #161 "[Cloud-TST] Logged In as DWP-SME, View Quesitons Page - sorting is not working.,"
![DWPSME-ViewQuestion-SortingNotWorking](https://user-images.githubusercontent.com/24892801/93370485-cc786f00-f848-11ea-944e-21e9730929f9.PNG)

[2020-09-16 17:23] sivabluemix opened #162 "[Cloud-TST] DWP-Admin loggedIn, Creating Partner - Why Are we seeing other accounts other than DWP.,"
![DWPAdmin-CreatingPartnerforDwp_Why OTherAccounts](https://user-images.githubusercontent.com/24892801/93371085-b0c19880-f849-11ea-9b88-0fa10be8dada.PNG)

[2020-09-16 17:25] sivabluemix opened #163 "[Cloud-TST] DWP-Partner Logged In, Alignment is not good.,"
![DWP-Partner_Tables Alignment Not Good](https://user-images.githubusercontent.com/24892801/93371308-0ac25e00-f84a-11ea-829f-25897103ed9c.PNG)

[2020-09-16 17:35] sivabluemix opened #164 "[Cloud-TST] LoggedIn As DWP-Partner - DashBoard - Techncal Interview DashBoard Working - After clicking 'Clear' the data is not brining back to original state.,"
![DWP_Partner_DashBoard_SearchWorking_ClearNotWorking](https://user-images.githubusercontent.com/24892801/93372182-70fbb080-f84b-11ea-93aa-c22db6ba4d7e.PNG)

[2020-09-16 17:43] sivabluemix opened #165 "[Cloud-TST] Mapping a new technology (it allowing to add same existing technology) - resulting to a duplicate.,"
Forgot whether i logged in as partner or sme,
But, when i am trying to add a new technology stream, if we add a new stream as an existing one, its getting added - resulting to a duplicate.,
![AddTechnologyStreamMapping_Duplicate](https://user-images.githubusercontent.com/24892801/93372944-891fff80-f84c-11ea-859c-d478a81da528.PNG)

[2020-09-16 20:09] sivabluemix opened #166 "[Cloud-TST] Mapping a Candidate to Open Position using DWP-Mgmt"
![Mapping A Candidate to Open Position Using DWP-Mgmt](https://user-images.githubusercontent.com/24892801/93387281-de660c00-f860-11ea-897a-43bb49970fc1.PNG)

[2020-09-17 03:58] Adharshd commented on #156
@rkulkar5 Since this functionality is working for me in local - can you check the same in IBM cloud?

[2020-09-17 03:59] Adharshd commented on #157
This will done as part of Sprint-10

[2020-09-17 04:01] Adharshd commented on #158
@rashmidevapura Can you please check this?

[2020-09-17 04:03] Adharshd commented on #159
Marked as New Requirement

[2020-09-17 04:04] Adharshd commented on #160
@sivabluemix this will be done as part of Sprint-10.

[2020-09-17 04:07] Adharshd commented on #161
@deekshanagesh08 @deenagesnagesh Can you please check this issue? Even though this is working in local - this might be an issue on cloud.

[2020-09-17 04:08] Adharshd commented on #162
This change will be done as part of Sprint-10.

[2020-09-17 04:09] Adharshd commented on #163
@rashmidevapura Can you please check this issue?

[2020-09-17 04:10] Adharshd commented on #164
@rashmidevapura Can you please check this issue?

[2020-09-17 04:12] Adharshd commented on #166
@rashmidevapura Can you tell us whether this is a valid response?

[2020-09-17 04:28] Adharshd opened #167 "Task::The admin can only view open seats that belongs to same accounts as Admin"

[2020-09-17 04:29] Adharshd opened #168 "Task:: Including Account filtering in Test Results"
a) Only can view candidates belonging to the same account as admin.
B) Account Column in the list
c) Filter list using Account

[2020-09-17 04:40] rashmidevapura commented on #158
@Harshitha-Edpuganti : Assigning to Harshita to check

[2020-09-17 07:25] Harshitha-Edpuganti commented on #166
@Adharshd  yes, it's a valid response.

[2020-09-17 07:36] Adharshd commented on #166
@sivabluemix Yes, this is a valid response for your inputs as per the above comments.

[2020-09-17 07:56] Teja-swi opened #169 "Technology stream is accepting duplicate values"
Technology stream is accepting duplicate values

![image.png](https://images.zenhubusercontent.com/5ee70571210454c96d9aacda/14df99d7-bdd2-4408-81c2-7ef71cf70b6e)

[2020-09-17 09:41] Harshitha-Edpuganti commented on #158
@sivabluemix  This is working as per requirement. Technology stream field should fetch all the available streams across all JRSS and when you click on plus button it will show the stream names one by one from collection.

[2020-09-17 09:45] Adharshd commented on #169
Valid issue - but this already raised by Siva here: https://github.com/rkulkar5/OnlineTAT/issues/165

[2020-09-17 10:11] sivabluemix commented on #158
Closing as the Dev classified as WTD.,

[2020-09-17 10:11] #158 closed, assigned to sivabluemix

[2020-09-17 12:34] Tatireddysreevani opened #170 "Not able to update Pre technical interview form all the three times, able to update only once per a candidate"
Logged in as candidate and attempted the quiz with 100% score, updated pre technical interview form first time. Second time and third time also attempted with same score, but not able to update the form. Tried with different scenario like first time got failed, second time passed and updated form, third time not able to update

[2020-09-18 04:59] #169 closed, assigned to Teja-swi

[2020-09-18 05:08] Teja-swi opened #171 "Super Admin - Add account"
a) Account Field is accepting special characters.
![image.png](https://images.zenhubusercontent.com/5ee70571210454c96d9aacda/e6a4bbf0-51a6-41c6-bb9e-a179101eec04)

b) when trying to add existing account, not getting popup like this account already exists.
c)There is no option to delete or edit Accounts.

[2020-09-18 11:06] Teja-swi commented on #118
working now

[2020-09-18 11:06] #118 closed, assigned to Adharshd, Teja-swi

[2020-09-18 11:08] Teja-swi commented on #119
working now

[2020-09-18 11:08] #119 closed, assigned to Teja-swi

[2020-09-18 11:11] Teja-swi commented on #150
Issue fixed

[2020-09-18 11:24] #53 closed

[2020-09-18 11:25] #50 closed

[2020-09-18 11:25] #51 closed

[2020-09-18 11:25] #52 closed

[2020-09-18 11:26] #95 closed, assigned to Harshitha-Edpuganti, Teja-swi

[2020-09-18 11:27] #96 closed, assigned to ranjeetibm, Teja-swi

[2020-09-18 11:27] Teja-swi commented on #98
This requirement has been changed as per sprint-10

[2020-09-18 11:27] #98 closed, assigned to samirghoshibm, Teja-swi

[2020-09-18 11:32] #107 closed, assigned to Adharshd, sivabluemix, Teja-swi

[2020-09-18 11:35] Teja-swi commented on #150
Similar issue observed in Admin screen

![image](https://user-images.githubusercontent.com/66815529/93593145-24da7880-f9d1-11ea-8bda-0878552120ab.png)

[2020-09-18 12:01] Tatireddysreevani opened #172 "Account level Admin- Edit option is not there for job role list"
Suppose if we want to delete or edit job role, delete and edit options are not there.

![image](https://user-images.githubusercontent.com/61975055/93595102-c0211d00-f9d4-11ea-877e-3b408055bf55.png)

[2020-09-18 12:04] Tatireddysreevani opened #173 "Account level Admin- Edit option is not there in technology stream list"
![image](https://user-images.githubusercontent.com/61975055/93595257-0b3b3000-f9d5-11ea-8199-b6dbd8f8e7bc.png)

![image](https://user-images.githubusercontent.com/61975055/93595266-0f674d80-f9d5-11ea-8362-7fb6cd82bbb4.png)

Here after adding technology stream, if we want to edit account or something edit option is not there.

[2020-09-18 12:06] Tatireddysreevani opened #174 "Account level Admin- Delete option is not there for test configuration list"
![image](https://user-images.githubusercontent.com/61975055/93595407-51908f00-f9d5-11ea-9a6a-d881dc029b64.png)

![image](https://user-images.githubusercontent.com/61975055/93595417-55bcac80-f9d5-11ea-8360-b56200dd07dc.png)

In test configuration list delete option is not there.

[2020-09-19 15:58] sivabluemix commented on #162
@Adharshd  Can you notify us once the relevant code is uploaded to cloud.,

[2020-09-19 15:59] sivabluemix commented on #160
@Adharshd  Can you please notify us once the code is uploaded in Cloud.,

[2020-09-19 15:59] sivabluemix commented on #157
@Adharshd  Can you please notify us when the code is deployed in cloud.,

[2020-09-19 16:02] sivabluemix commented on #128
@Adharshd  Please notify us once the relevant code is uploaded on Cloud.,

[2020-09-19 16:24] sivabluemix commented on #106
@Adharshd
TechSME- BulkUpload Questions - for more than one account scenario.,
Logged in as SectorTechSME on Cloud-TST, I have uploaded 2 questions (for DWP,NHS accounts) and its poped me saying 2 questions were added successfully. But, In view Quesitons, I can see only one question out of 2 added.,

![image](https://user-images.githubusercontent.com/24892801/93671668-d8f50580-fa9c-11ea-8aea-d77fa

[2020-09-19 16:27] sivabluemix opened #175 "[Cloud-TST] Logged In as TECH-SME, Under 'View Questions' Page, Logout should be right aligned.,"
![image](https://user-images.githubusercontent.com/24892801/93671721-4b65e580-fa9d-11ea-9360-2b521e730671.png)

[2020-09-19 16:30] sivabluemix opened #176 "[Cloud-TST] Logged In as Sector Tech SME, Navigation Bar Issue"
Logged in as Sector Tech SME, Below is the initial display navbar.,
![image](https://user-images.githubusercontent.com/24892801/93671763-b1eb0380-fa9d-11ea-8aa3-72a0aa913942.png)

after clicking or navigation to view questions, then nav bar is changing.,
![image](https://user-images.githubusercontent.com/24892801/93671777-d050ff00-fa9d-11ea-9e95-2fe22b69538b.png)

[2020-09-19 16:31] sivabluemix commented on #176
Please have a look at why the Nav Bar is changing compare to the initial login ?.,

[2020-09-19 16:33] sivabluemix opened #177 "No Popup after adding a Job Role.,"
Logged in as DWPAdmin > Manage Metadata > I  Added a Job Role  Successfully.,

(Question/Defect) But, It is not giving any popup or alert - saying, its added successfuly.,

[2020-09-19 16:35] sivabluemix opened #178 "[cloud-tst] account field is not displaying on Edit Question page.,"
Logged in as DWP-Admin, Navigated to Edit Question Screen, below few options are not displaying.,

Technology Stream,
Complexiy Level.,

[2020-09-19 16:36] sivabluemix opened #179 "[Cloud-TST] Search Lable on View Questions is slightly right aligned.,"
View Questions Page:
The search label is slightly misaligned, I believe, If it's a valid question then can it be left-aligned.,

![image](https://user-images.githubusercontent.com/24892801/93671905-aa782a00-fa9e-11ea-8ae5-e1e0df1efc19.png)

[2020-09-19 16:47] sivabluemix commented on #101
logged in as DWP-Admin and trying to calculate GP for a candidate and getting below error, can some one tell why this error is coming , is it WTD if yes, whats the business condition to calculate GP.,

![image](https://user-images.githubusercontent.com/24892801/93672092-2161f280-faa0-11ea-90e2-4f39d4f71b6a.png)

[2020-09-19 21:54] sivabluemix commented on #178
sorry,
account field is the one not displaying on edit question page.,

[2020-09-19 22:05] sivabluemix opened #180 "[Cloud-TST] Logged In As DWP-Admin, No Popup on Successful Open Position Creation.,"
Logged in as DWPAdmin > Manage Metadata > I  Added a New Open PositionSuccessfully.,
(Question/Defect) But, It is not giving any popup or alert - saying, its added successfully.,

Note: The newly added Position  is able to display in the "Open Positions List", No Issue.

[2020-09-19 22:06] sivabluemix opened #181 "[Cloud-TST] Logged In as DWP-Admin, Search Lable Mis-aligned on View Results Page.,"
View Results Page:
Search lable is slightly mis aligned, I believe, If its a valid question then can it be left aligned.,

[2020-09-21 07:04] Adharshd commented on #181
@sivabluemix Can you add a screenshot of the misalignment?

Assigned also to Rashmi in the mean time.

[2020-09-21 07:06] Adharshd commented on #180
Assigned ti @samirghoshibm

[2020-09-21 07:07] Adharshd commented on #179
@deekshanagesh08 @deenagesnagesh can you please check the same?

[2020-09-21 07:11] Adharshd commented on #178
@ranjeetibm Can you tell us whether you sre still working on this so as part of Sprint-10? if so, we can close the issue.

[2020-09-21 07:12] Adharshd commented on #177
@rashmidevapura Can you tell us whether a popup is necessary here?

[2020-09-21 07:14] Adharshd commented on #178
@ranjeetibm @sivabluemix  Its also possible - this code is not part of IBM cloud- though not sure

[2020-09-21 07:14] Adharshd commented on #176
Assigned to @Adharshd

[2020-09-21 07:21] Adharshd commented on #140
@rkulkar5 Can you tell us whether the above can be improved? Thank you.

[2020-09-21 07:24] rashmidevapura commented on #177
Yes we can add a confirmation message that it is added successfully.

[2020-09-21 08:03] rashmidevapura commented on #177
Added popup, assigning to Siva back

[2020-09-21 08:32] sivabluemix opened #182 "[Cloud-TST] technology logo is not loaded.,"
![image](https://user-images.githubusercontent.com/24892801/93746603-4e6feb80-fbed-11ea-960e-a35838a17e3c.png)

[2020-09-21 08:37] Adharshd commented on #174
@Tatireddysreevani the delete option is not required here.

[2020-09-21 08:38] sivabluemix opened #183 "[Cloud-TST] Seach leable mis aligned on View Open Positions"
![image](https://user-images.githubusercontent.com/24892801/93747154-32b91500-fbee-11ea-9eeb-184a9ef42368.png)

[2020-09-21 08:39] Adharshd commented on #173
@Tatireddysreevani This was done on purpose. Since, it is very easy to delete and create a new tech. stream or mapping - there is no edit option provided.

[2020-09-21 08:40] Adharshd commented on #172
Since this is not discussed before - marked as new requirement.

[2020-09-21 08:46] Adharshd commented on #182
@sivabluemix @rkulkar5 this seems to be fine in Local(I also dont have any logo between Node.JS and Python logos). Can you check whether this issue happens all the time in cloud?

[2020-09-21 08:47] sivabluemix opened #184 "[Cloud-TST] Open Position ID is not showing as Number data type"
![image](https://user-images.githubusercontent.com/24892801/93747956-63e61500-fbef-11ea-8aad-3acc00b947a3.png)

[2020-09-21 08:47] Adharshd commented on #183
@rashmidevapura Can you please check this?

[2020-09-21 08:48] Adharshd commented on #184
@samirghoshibm Can you please check this?

I will also add that this issue is raised after testing via Cloud alone and not the latest in Git.

[2020-09-21 08:55] sivabluemix opened #185 "[Cloud-TST] some extra hyperlink on Mapping Technology Stream to Job Role.,"
![image](https://user-images.githubusercontent.com/24892801/93748703-99d7c900-fbf0-11ea-9fa4-ea752718c2a8.png)

[2020-09-21 09:12] sivabluemix opened #186 "[Cloud-TST] Login lable mis aligned"
![image](https://user-images.githubusercontent.com/24892801/93750128-e9b78f80-fbf2-11ea-852d-abe2f07a21f3.png)

[2020-09-21 09:19] rashmidevapura commented on #184
Delete all existing open positions in the database and create one will work fine..

[2020-09-21 09:21] rashmidevapura commented on #183
Fixed and assigned back to Siva

[2020-09-21 09:23] Adharshd commented on #178
Found this is still worked on by Deeksha - and it will take time to finish this Sprint-10 task. @sivabluemix Hence can you close this?

[2020-09-21 09:23] rashmidevapura commented on #183
![image](https://user-images.githubusercontent.com/61687054/93751124-32cf0a00-fc1a-11ea-9c4a-86d8d27d2971.png)

[2020-09-21 09:25] Adharshd commented on #175
@deekshanagesh08 @deenagesnagesh can you check this issue?

[2020-09-21 09:26] rashmidevapura commented on #163
fixed

[2020-09-21 09:28] rashmidevapura commented on #137
working fine here ..please check again and confirm

[2020-09-21 09:48] sivabluemix opened #187 "[Cloud-TST] Technical Assessment Interview - Search Label mis-aligned.,"
![image](https://user-images.githubusercontent.com/24892801/93753343-ec68b380-fbf7-11ea-8c13-14692bfeee38.png)

[2020-09-21 09:54] sivabluemix opened #188 "[Cloud-TST] Technical Interview Assessment - Total number of records are not exactly displaying.,"
There are two records (at min) displaying on screen, but the count in pagination is not correct.,
![image](https://user-images.githubusercontent.com/24892801/93753907-c7c10b80-fbf8-11ea-8dcd-fa0a770ab588.png)

[2020-09-21 10:14] sivabluemix opened #189 "[Cloud-TST] Candidate (dwp) finished the exam, pre-tech form and can now be displayed on DWP-Tech SME, but not under sector tech sme.,"
![image](https://user-images.githubusercontent.com/24892801/93755619-854cfe00-fbfb-11ea-9d85-ad59d9d5f1dd.png)

[2020-09-21 10:39] sivabluemix opened #190 "[Cloud-TST] View Candidates screen few functionalities are not working.,"
1) Created a candidate for the DWP account and that candidate completed the exam, pre-tech form, but this candidate is visible when we logged in as DWP-Tech SME, but not as Sector-Tech-SME.,

2) I believe, there is should be enable/disable buttons , but its showing only Enable button in all cases.

3) sorting is not working for status and attempt.,

![image](https://user-images.githubusercontent.c

[2020-09-21 16:20] sivabluemix opened #191 "[Cloud-TST] Logged in as superadmin, 'AddUser' should be a submenu under 'Manage User'"
I believe, the 'AddUser' should be link/sub-menu under 'manager user'.,
Please validate and do the needful.,
![image](https://user-images.githubusercontent.com/24892801/93793456-c01c5980-fc2e-11ea-80d7-65383ec90699.png)

[2020-09-21 16:27] sivabluemix opened #192 "[Cloud-TST] Logged in as DWP-Mgmt, 'Manage Open Seats - sub menu showing as View Open Seats' but actual lable is showing as 'View Open Positions'., Please make both same string.,"
![image](https://user-images.githubusercontent.com/24892801/93794148-a6c7dd00-fc2f-11ea-97ec-53377f38d9a6.png)

![image](https://user-images.githubusercontent.com/24892801/93794196-b34c3580-fc2f-11ea-92ec-1c20921f8d12.png)

[2020-09-22 07:49] Harshitha-Edpuganti commented on #150
@Teja-swi fixed

[2020-09-22 10:36] rashmidevapura commented on #192
Changed and checked in the change..

[2020-09-22 10:40] rashmidevapura commented on #190
Fixed and checked in changes..please verify

[2020-09-22 10:42] rashmidevapura commented on #188
Its data issue..delete all records and create new ones..

[2020-09-22 10:42] rashmidevapura commented on #187
Fixed and checked in the code..please verify..

[2020-09-22 11:55] sivabluemix opened #193 "[Cloud-TST] Created a new option position with a job role 'Java Technical Assessment' but when i click on edit for this new open position, that Job role is not populating in edit open seat screen.,"
![image](https://user-images.githubusercontent.com/24892801/93878984-dbd93b80-fcd2-11ea-9b24-3ef0eb5416f6.png)

[2020-09-22 12:38] sivabluemix opened #194 "[Cloud-TST] While trying to take exam as a candidate (java), but question paper is coming like this.,"
There are 4 questions configured and configured relevant passing score etc.,

![image](https://user-images.githubusercontent.com/24892801/93882974-d252d200-fcd8-11ea-9f40-a0aad4abfdec.png)

[2020-09-22 12:43] rashmidevapura commented on #193
Fixed and checked the changes..please verify

[2020-09-22 12:57] sivabluemix opened #195 "[Cloud-TST] DWP-SME logged In, Initiated Interview - Want to see the Pre-Tech Questions but not displaying.,"
As a candidated, I have enetred the answers for the pre-tech questions, but its not displaying when i logged in as DWP-SME and initiated interview.

![image](https://user-images.githubusercontent.com/24892801/93885018-88b7b680-fcdb-11ea-951d-a50946d2fb8e.png)

[2020-09-22 13:16] sivabluemix opened #196 "[Cloud-TST] Loggedin as DWP-MGMT, trying to map a condidate to open position, this is screen is not a materialized.,"
![image](https://user-images.githubusercontent.com/24892801/93887159-3f1c9b00-fcde-11ea-94ee-79563514df8f.png)

[2020-09-22 13:20] sivabluemix opened #197 "[Cloud-TST] LoggedIn as DWP-MGMT, trying to map a candidate to open position - Noted the menus are showing diff on each action"
when loggedin as dwp-mgmt, see the menus.,
![image](https://user-images.githubusercontent.com/24892801/93887494-ad615d80-fcde-11ea-9b28-32bf1147b5f5.png)

When we select a user and assignproject, note- the menus are changed.,

![image](https://user-images.githubusercontent.com/24892801/93887425-9884ca00-fcde-11ea-80ac-c90aec3ed44e.png)

[2020-09-22 13:23] sivabluemix opened #198 "[Cloud-TST] loggedin as dwp-mgmt, trying to assign a candidate to a position and in that screen identified below issues.,"
1) As i logged in as DWP-MGMT user, but below screen is referring multiple accounts.,
2) whey 'NAAN' is displaying, - Can some help us on how to get a valid value here.,
![image](https://user-images.githubusercontent.com/24892801/93887899-2fea1d00-fcdf-11ea-82af-0bf36cf7c908.png)

[2020-09-22 13:46] Adharshd commented on #194
@sivabluemix Can you tell the candidate email ID used? Is this the only candidate for which this issue occurs? One valid scenario is -- the candidate might have already been part of a test and hence few questions which appeared in the test might have become ineligible to appear again.

@rkulkar5 Can you please check the same?

[2020-09-22 13:46] Adharshd commented on #195
@Harshitha-Edpuganti Can you please check the same?

[2020-09-22 13:48] Adharshd commented on #196
@sivabluemix this is fixed in local today and you can the test the same after the next IBM Cloud deployment.

[2020-09-22 13:50] Adharshd commented on #197
@sivabluemix this is intentional design - as the candidate might enter values in the form and if he clicks on any nav. bar - he might lose the data entered.

[2020-09-23 06:14] ranjeetibm commented on #185
Fixed. Please retest once the code is redeployed.

[2020-09-23 06:49] Teja-swi opened #199 "Login page"
The alignment is not proper and one image is broken. observed same in mozilla and chrome

![image](https://user-images.githubusercontent.com/66815529/93976666-ed841700-fd96-11ea-90e6-d9791c25a415.png)

[2020-09-23 07:06] Teja-swi opened #200 "Add Open seat"
Account field is showing for Single Account admin, though he belongs to one account. Since Job role details were dependent on Account value, if a admin tries to select job role prior to account, it should display a message like "Please select Account First" etc
![image](https://user-images.githubusercontent.com/66815529/93978288-63897d80-fd99-11ea-9c19-49ddb41c519f.png)

[2020-09-23 07:16] Teja-swi opened #201 "Add Job role - Multi Account"
As a admin of DWP,NHS - I am able to add job role. But later, the account field is showing only one account value.
![image](https://user-images.githubusercontent.com/66815529/93979292-c7607600-fd9a-11ea-9777-b773df0a9461.png)
![image](https://user-images.githubusercontent.com/66815529/93979308-caf3fd00-fd9a-11ea-8d99-12f5b0506a2e.png)

[2020-09-23 07:56] samirghoshibm commented on #180
Alert message is added when Open Position is created. Please verify.

[2020-09-23 07:58] ranjeetibm commented on #154
its working as expected ..can you please test it again.

[2020-09-23 08:00] ranjeetibm commented on #154
I tested this. Looks its working as expected...Can you please test it again.

[2020-09-23 08:02] Adharshd opened #202 "Add Technology Stream:: Only In the case of Multiple Account Admin - The Admin should be able to clearly identify which Job Role belongs which Account in a) Mapping Technology Stream to Job Role b) Technology Stream List"

[2020-09-23 08:04] Adharshd opened #203 "Add Job Role:: Only In the case of Multiple Account Admin - Account Drop down for Multiple Account admin user"

[2020-09-23 08:14] Adharshd opened #204 "Color Coding of Online Test Results: Pass - Green, Failed Red"
The online test score is displayed in the Dashboard, candidate list, TechSME queue, Partner queue, Operations user queue.

[2020-09-23 09:39] Harshitha-Edpuganti commented on #145
fixed

[2020-09-23 10:22] Adharshd commented on #127
@Harshitha-Edpuganti please check this issue as dicussed.

[2020-09-23 10:38] #145 closed, assigned to Tatireddysreevani

[2020-09-23 11:22] Teja-swi commented on #154
This is working fine now

[2020-09-23 11:22] #154 closed, assigned to nobody

[2020-09-23 11:31] ranjeetibm commented on #143
Working as expected. Please retest.

[2020-09-23 11:41] Harshitha-Edpuganti commented on #195
It's working at our end.
<img width="866" alt="Defect195" src="https://user-images.githubusercontent.com/61153996/94007942-caba2880-fdbf-11ea-8cbd-667bd4515e93.PNG">

[2020-09-23 12:58] Tatireddysreevani commented on #143
Still not able to access pre technical interview form

[2020-09-23 13:04] Tatireddysreevani commented on #174
Delete option is not necessary as per the requirement

[2020-09-23 13:04] #174 closed, assigned to Tatireddysreevani

[2020-09-23 13:06] Tatireddysreevani commented on #173
It was done as per requirement

[2020-09-23 13:06] #173 closed, assigned to Tatireddysreevani

[2020-09-23 13:20] ranjeetibm commented on #113
Work completed

[2020-09-23 13:20] #113 closed, assigned to ranjeetibm

[2020-09-23 13:36] ranjeetibm commented on #143
Can you please tell me how you have created the data. After assessment are you getting pre technical form with all the questions.
I have retested and found no issue. please find the screenshot attached.

------------------------------------------------------------------------------
<img width="929" alt="Defect143_Result" src="https://user-images.githubusercontent.com/61973926/94019602-98182c00-fdc

[2020-09-24 06:47] rkulkar5 commented on #182
The image with .PNG extension was missing on cloud (there are two images one with .JPG and one with .PNG extenstions)
This has been fixed

[2020-09-24 07:09] rkulkar5 commented on #194
more details would have helped us to investigate the issue (like the emailID of candidate, etc)
I am tryign to reproduce from my end

[2020-09-24 07:15] ranjeetibm commented on #8
completed

[2020-09-24 07:15] #8 closed

[2020-09-24 07:16] ranjeetibm commented on #27
Done

[2020-09-24 07:16] #27 closed

[2020-09-24 07:16] ranjeetibm commented on #39
done

[2020-09-24 07:16] #39 closed

[2020-09-24 07:16] ranjeetibm commented on #64
done

[2020-09-24 07:16] #64 closed, assigned to ranjeetibm

[2020-09-24 07:16] ranjeetibm commented on #88
done

[2020-09-24 07:17] ranjeetibm commented on #89
done

[2020-09-24 07:17] #89 closed, assigned to ranjeetibm

[2020-09-24 07:17] ranjeetibm commented on #97
done

[2020-09-24 07:17] #97 closed, assigned to Harshitha-Edpuganti, ranjeetibm

[2020-09-24 07:18] #114 closed, assigned to rashmidevapura, ranjeetibm

[2020-09-24 07:18] ranjeetibm commented on #114
Completed

[2020-09-24 07:19] ranjeetibm commented on #88
done

[2020-09-24 07:19] #88 closed, assigned to ranjeetibm

[2020-09-24 07:47] Adharshd commented on #200
@rashmidevapura Can you please check the same?

[2020-09-24 07:49] Adharshd commented on #201
@ranjeetibm can you please check this issue?

[2020-09-24 08:02] Adharshd commented on #130
@Harshitha-Edpuganti Can you please check the same?

As I am facing compilation issues.

[2020-09-24 08:06] Adharshd commented on #132
@ranjeetibm Can you please check the same?

[2020-09-24 08:09] Adharshd commented on #135
@Harshitha-Edpuganti Can you help Siva with the steps?

[2020-09-24 08:10] Adharshd commented on #139
@rkulkar5 Can you please check this issue in the cloud?

[2020-09-24 08:14] Adharshd commented on #176
@sivabluemix can you please test again?

[2020-09-24 08:15] Adharshd commented on #191
To be discussed in scrum call whether to change the title from Add User to Manage User

[2020-09-24 08:16] Adharshd commented on #191
@sivabluemix I would say this is correct as there is only one screen for Add, Edit, and Delete Users.

[2020-09-24 08:29] Adharshd commented on #201
@rkulkar5 can you please check this issue?

[2020-09-24 08:47] rkulkar5 commented on #201
This has been fixed, yet to deploy on Cloud

[2020-09-24 08:57] rkulkar5 commented on #140
Hi
I think increasing the system resources capacity is not possible for the kind of IBM cloud account I am holding, I will recheck and confirm on this point.

Marginally it can be improved by adding the indexes to MongoDB tables (which has to be a seperate issue)
I believe we should park this aside until the demo is done.

[2020-09-24 09:21] ranjeetibm commented on #132
Can you please test this again. I have tested with account level admin and it's working fine.

[2020-09-24 09:25] Adharshd commented on #165
@sivabluemix It is working for me in local as you cann see the below error message when I tried to add MEAN Stack twice.
![image](https://user-images.githubusercontent.com/8875515/94126956-ed0e7d80-fe75-11ea-9077-c29d54564d5b.png)

[2020-09-24 09:26] Adharshd commented on #199
To be discussed in Scrum Call.

[2020-09-24 09:26] Teja-swi commented on #203
Hi,

Able to add job role. But,
2) There is no 'Search' criteria available to search particular job role.
3) Observe the No. field below, numbers are not getting incremented
![image](https://user-images.githubusercontent.com/66815529/94126992-fac40300-fe75-11ea-9d27-2848df75181f.png)
![image](https://user-images.githubusercontent.com/66815529/94127071-18916800-fe76-11ea-8014-da11008dbf0d.png)

[2020-09-24 09:27] rkulkar5 commented on #139
Hi
I have verified the issue and it is working fine
Here username is nothing but the email ID (the name appearing in view page is his the name, not to be used for login)
Please verify and close if it works (using emailID as the login id/username)
Thanks

[2020-09-24 09:30] rkulkar5 commented on #201
It is deployed on cloud, please verify and close (if it works)

[2020-09-24 09:33] rkulkar5 commented on #131
This has been taken by the team
Please verify and close the issue

[2020-09-24 09:46] Teja-swi commented on #153
![image](https://user-images.githubusercontent.com/66815529/94128568-f0a30400-fe77-11ea-858e-7aef8e02c868.png)
![image](https://user-images.githubusercontent.com/66815529/94129279-cb62c580-fe78-11ea-991e-dc1363b082ef.png)
Tejaswi : Not Sure why a single ID is created 21 times

[2020-09-24 09:56] Teja-swi commented on #153
![image](https://user-images.githubusercontent.com/66815529/94130447-4aa4c900-fe7a-11ea-8bca-7a4c630b85a4.png)
Getting duplicate Ids

[2020-09-24 10:04] Teja-swi commented on #150
Issue fixed

[2020-09-24 10:04] #150 closed, assigned to Teja-swi

[2020-09-24 10:31] Adharshd commented on #171
Found this could be an issue in every text input.

[2020-09-24 10:31] Adharshd commented on #171
Marked as new requirement - so that other priority issues can be fixed initially

[2020-09-24 10:42] Teja-swi opened #205 "SME - Single account - Update email ID"
Created a candidate and candidate cleared test. Candidate details reflecting in SME queue. But if admin changed his email id, Candidates details were not reflecting in SME queue.

[2020-09-24 10:47] Adharshd commented on #205
@ranjeetibm can you please check the same?

[2020-09-24 10:55] Tatireddysreevani opened #206 "Account level sme and Partner- Getting warning message "we noticed that you attempted to move away from this tab/browser during exam" in partner and sme queue"
when we moved to some other browser from sme or partner queue, it is showing warning message of "we noticed that you attempted to move away from this tab/browser during exam. Please retain from doing so still you finish the exam" even when we are not in assessment screen.
![image](https://user-images.githubusercontent.com/61975055/94136415-8b084500-fe82-11ea-9081-2df9434d7c34.png)

[2020-09-24 11:14] Tatireddysreevani opened #207 "Account level partner- From date and to date is not working in search criteria of Report section in partner queue"
when we login as Partner, From date and To date is not working in search criteria of Report section.

![image](https://user-images.githubusercontent.com/61975055/94138094-269ab500-fe85-11ea-83c4-2df69628ccc1.png)

[2020-09-24 11:16] Adharshd commented on #206
Should happen only in the quiz. Assigned to @Adharshd

[2020-09-24 11:17] Adharshd commented on #207
@rashmidevapura can you please check the same?

[2020-09-24 11:27] Tatireddysreevani commented on #206
Its happening when we are in sme, partner queue and moved to some other tab/browser

[2020-09-24 11:30] Tatireddysreevani commented on #204
Pass- Green, Failed- Red is not working on Partner interview queue of partner screen

[2020-09-24 11:45] ranjeetibm commented on #130
Can you please test this issue again. Now this issue doesn't exist.

[2020-09-24 12:37] Tatireddysreevani commented on #134
working as expected

[2020-09-24 12:37] #134 closed, assigned to Harshitha-Edpuganti, ranjeetibm

[2020-09-24 13:27] rashmidevapura commented on #207
@rkulkar5 : Assigning to Rajesh to verify..

[2020-09-24 14:06] rashmidevapura commented on #200
@Teja-swi : No alert is required as it is making not user frindly.changed just if single account then display by default that account value and respective JRSS values.

[2020-09-24 14:28] Teja-swi opened #208 "unable to save new Test Configuaration"
![image](https://user-images.githubusercontent.com/66815529/94158489-10e6b900-fea0-11ea-99a0-03849f0dd714.png)

[2020-09-24 14:49] Nagalakshmi97 opened #209 "Alignment was not aligned properly"
![image](https://user-images.githubusercontent.com/67039911/94161225-172a6480-fea3-11ea-867b-827f132f8a2f.png)

[2020-09-24 15:27] Premaks opened #210 "When I login as management, "Exceptional Approve" it is not alligned properly and I' am unable to download CV"
![image (9)](https://user-images.githubusercontent.com/66792210/94165951-63c46e80-fea8-11ea-945f-98a03d28f5ea.png)

[2020-09-25 06:48] Tatireddysreevani commented on #156
yes, its working.....

[2020-09-25 06:48] #156 closed, assigned to rkulkar5

[2020-09-25 07:16] Tatireddysreevani commented on #161
closing issue as its working fine

[2020-09-25 07:16] #161 closed, assigned to deekshanagesh08

[2020-09-25 07:30] Teja-swi opened #211 "Contractor in not getting questions during exam"
![image](https://user-images.githubusercontent.com/66815529/94239164-04f60800-ff2f-11ea-9202-83fe9853bd2e.png)

[2020-09-25 07:42] rashmidevapura commented on #26
Closed as this user story is completed

[2020-09-25 07:43] #26 closed

[2020-09-25 07:44] rashmidevapura commented on #83
Closed as this user story completed

[2020-09-25 07:44] #83 closed, assigned to rashmidevapura

[2020-09-25 07:45] rashmidevapura commented on #62
Closed as this user story completed

[2020-09-25 07:45] #62 closed, assigned to rashmidevapura

[2020-09-25 07:47] rashmidevapura commented on #101
@Siva: Assigning back to Siva for closure after verifition...as this details already communicated to him.

[2020-09-25 07:47] #101 closed, assigned to Adharshd, sivabluemix, rashmidevapura

[2020-09-25 07:48] rashmidevapura commented on #101
@sivabluemix : It is closed before assigning... please verify and provide your comment.

[2020-09-25 07:49] rashmidevapura commented on #45
Closed as this user story completed

[2020-09-25 07:49] #45 closed

[2020-09-25 07:51] rashmidevapura commented on #181
@sivabluemix : Fixed the alignment... please verify

[2020-09-25 07:52] rashmidevapura commented on #100
Closed as this user story completed

[2020-09-25 07:52] #100 closed, assigned to rashmidevapura, Teja-swi

[2020-09-25 07:52] rashmidevapura commented on #16
Closed as this user story completed

[2020-09-25 07:52] #16 closed

[2020-09-25 07:53] rashmidevapura commented on #13
Closed as this user story completed

[2020-09-25 07:53] #13 closed

[2020-09-25 07:54] rashmidevapura commented on #5
Closed as this user story completed

[2020-09-25 07:54] #5 closed

[2020-09-25 07:54] rashmidevapura commented on #37
Closed as this user story completed

[2020-09-25 07:54] #37 closed

[2020-09-25 07:56] rashmidevapura commented on #137
please check and confirm

[2020-09-25 07:57] rashmidevapura commented on #84
Closed as this user story completed

[2020-09-25 07:57] #84 closed, assigned to rashmidevapura

[2020-09-25 08:14] Teja-swi opened #212 "Pre-technical Form/Candidate details - Sector SME /Account level SME"
![image](https://user-images.githubusercontent.com/66815529/94240904-91a1c580-ff31-11ea-8140-359ac5d6d51a.png)
Candidate details were not loading in Sector SME and even pre-technical form is not loading. Logout option is needed in below page?
![image](https://user-images.githubusercontent.com/66815529/94243482-16daa980-ff35-11ea-8ff7-f46054b33288.png)

[2020-09-25 10:13] Adharshd commented on #135
Check with team in scrum call. @Adharshd

[2020-09-25 10:33] Adharshd commented on #123
As of now - the candidate is the only person who can change password.

For other users - we can discuss later about the Change Password options.

[2020-09-27 08:19] Teja-swi commented on #201
Issue fixed

[2020-09-27 08:19] #201 closed, assigned to rkulkar5, Teja-swi

[2020-09-27 08:44] Teja-swi commented on #200
Account field is populating in case of single account. Do you feel alert is not required for multi account ?

[2020-09-27 08:44] Teja-swi commented on #151
IN Sprint-10 this requirement has been changed

[2020-09-27 08:44] #151 closed, assigned to Teja-swi

[2020-09-27 08:45] Teja-swi commented on #151
IN Sprint-10 this requirement has been changed

[2020-09-27 17:04] Teja-swi commented on #187
fixed
![image](https://user-images.githubusercontent.com/66815529/94371117-a76de100-0111-11eb-8a63-04f16f25538f.png)

[2020-09-27 17:04] #187 closed, assigned to sivabluemix

[2020-09-27 17:06] Teja-swi commented on #186
![image](https://user-images.githubusercontent.com/66815529/94371146-dc7a3380-0111-11eb-95df-d34a21c5d024.png)

[2020-09-27 17:06] #186 closed, assigned to sivabluemix

[2020-09-27 17:07] Teja-swi commented on #185
![image](https://user-images.githubusercontent.com/66815529/94371168-0af80e80-0112-11eb-8244-dbc56e502881.png)

[2020-09-27 17:07] #185 closed, assigned to sivabluemix

[2020-09-27 17:11] Teja-swi commented on #180
![image](https://user-images.githubusercontent.com/66815529/94371214-94a7dc00-0112-11eb-91c4-98e35365104f.png)

[2020-09-27 17:11] #180 closed, assigned to sivabluemix

[2020-09-27 17:13] Teja-swi commented on #177
![image](https://user-images.githubusercontent.com/66815529/94371268-d2a50000-0112-11eb-8107-83a196c562e7.png)

[2020-09-27 17:13] #177 closed, assigned to sivabluemix

[2020-09-27 20:34] sivabluemix commented on #197
My Question is around, The change in NavBar (ie. number of NavBar items on attached above screens are different and expecting it should be consistent). Can you please check ?.,

[2020-09-27 20:44] sivabluemix commented on #196
Thanks Adharsh,   I can see the changes.,

[2020-09-27 20:44] #196 closed, assigned to sivabluemix

[2020-09-27 20:58] sivabluemix commented on #195
Hi Harshita,
I have tried in Cloud today and still its not working, Please see the screenshot, its not loading the preTechnical answers given by candidate.,
![Uploading image.png…]()

[2020-09-27 21:00] sivabluemix commented on #194
Just now, I have created a new user 'sivacand7java@ibm.com' on cloud and tried to write exam, In the first instance after logged in as candidate, Have seen that above screen where 'NaN' displayed without any question, but in a fraction of seconds its loaded the questions and started timer.
I think its because of the system slow, Please check once.,

[2020-09-27 21:01] sivabluemix commented on #194
@rkulkar5

[2020-09-27 21:05] #193 closed, assigned to sivabluemix

[2020-09-27 21:07] #192 closed, assigned to sivabluemix

[2020-09-27 21:09] sivabluemix commented on #191
Okay, if that is the design.,

[2020-09-27 21:09] #191 closed, assigned to sivabluemix

[2020-09-27 21:11] sivabluemix commented on #190
Working!!

[2020-09-27 21:11] #190 closed, assigned to sivabluemix

[2020-09-27 21:16] sivabluemix commented on #188
Working!!

[2020-09-27 21:16] #188 closed, assigned to sivabluemix

[2020-09-27 21:20] #184 closed, assigned to sivabluemix

[2020-09-27 21:24] sivabluemix opened #213 "[Cloud-TST] Open Positions screen and 'Manage OpenSeats' > View Open Seats screen are looking same, Why do we need to have two similar screens ?.,"
![image](https://user-images.githubusercontent.com/24892801/94376055-fc105c80-010f-11eb-97a6-80917dd4650c.png)

[2020-09-27 21:30] #183 closed, assigned to sivabluemix

[2020-09-27 21:32] sivabluemix commented on #182
working, so closing.,

[2020-09-27 21:32] #182 closed, assigned to sivabluemix

[2020-09-27 21:39] sivabluemix commented on #181
closed!!

[2020-09-27 21:39] #181 closed, assigned to sivabluemix

[2020-09-27 21:40] sivabluemix commented on #178
Okay, closing this as its moved to spring10#task.,

[2020-09-27 21:40] #178 closed, assigned to sivabluemix

[2020-09-27 22:01] sivabluemix commented on #176
Its working, So closing.,

[2020-09-27 22:01] #176 closed, assigned to sivabluemix

[2020-09-27 22:02] sivabluemix opened #214 "[Cloud-TST] logged in as sector tech sme., Questions not displayed, but it showing as 19 records exist.,"
![image](https://user-images.githubusercontent.com/24892801/94376898-5cee6380-0115-11eb-9df2-d3d9afe07cce.png)

[2020-09-27 22:17] sivabluemix opened #215 "[Cloud-TST] LoggedIn as sector-tech-sme, Paginator (Total records showing 9, but displaying 10 with one empty record).,"
![image](https://user-images.githubusercontent.com/24892801/94377228-9a53f080-0117-11eb-8f36-3892bd685265.png)

[2020-09-27 22:18] sivabluemix commented on #168
Closing!!

[2020-09-27 22:18] #168 closed, assigned to sivabluemix

[2020-09-27 22:19] sivabluemix commented on #139
Using E-mailId, its working., so closing.,

[2020-09-27 22:19] #139 closed, assigned to Adharshd, sivabluemix

[2020-09-28 05:18] #48 closed

[2020-09-28 05:19] #46 closed

[2020-09-28 06:10] Tatireddysreevani commented on #167
closing the Task because now admin is able to see open seats belongs to all accounts

[2020-09-28 06:10] #167 closed, assigned to Tatireddysreevani

[2020-09-28 06:12] Adharshd opened #216 "Add Candidate: Only can add candidates belonging to the same account/accounts that is mapped to admin"

[2020-09-28 06:13] Adharshd opened #217 "View Candidate; Only can view candidates belonging to the same account as admin. Account field to be added to the View Candiates List"

[2020-09-28 06:14] Adharshd opened #218 "Add Question: Only can add questions belonging to the same account as admin"

[2020-09-28 06:15] Adharshd opened #219 "Add Bulk Question: Only can add questions belonging to the same account as admin"

[2020-09-28 06:21] rashmidevapura commented on #200
No alert is requid

[2020-09-28 06:29] rashmidevapura commented on #155
Please verify and close

[2020-09-28 06:32] rashmidevapura commented on #127
please verify and close

[2020-09-28 06:40] rashmidevapura commented on #210
Please mark what alignment expecting

[2020-09-28 06:43] Adharshd commented on #215
@rkulkar5 I am not able to recreate this issue in local. Can you please check this in IBM Cloud?

In local:
![image](https://user-images.githubusercontent.com/8875515/94398828-ed638d00-0183-11eb-809b-793b0e733619.png)

[2020-09-28 06:45] Adharshd commented on #214
@deekshanagesh08 @deenagesnagesh Can you check this issue? I was able to recreate the same issue in local as well.

![image](https://user-images.githubusercontent.com/8875515/94399013-42070800-0184-11eb-8a5e-6afe797c7417.png)

[2020-09-28 06:50] Adharshd commented on #213
@sivabluemix The difference is in the options at the bottom of the open positions list.

In Open Position, the option is "Find Candidate"
![image](https://user-images.githubusercontent.com/8875515/94399360-d7a29780-0184-11eb-9af3-7e3833963a50.png)

In Manage Open Seats, the options are Edit & Delete.
![image](https://user-images.githubusercontent.com/8875515/94399426-f012b200-0184-11eb-8877-5012d0

[2020-09-28 06:52] Adharshd commented on #212
@rashmidevapura I think this was discussed during the scrum call sometime recently - can you explain in what scenarios the blank candidate is possible in the queue?

@rkulkar5 I am unable to recreate the blank pre-tech form in local - can you please check the same in cloud?

[2020-09-28 07:00] Teja-swi commented on #208
There is a minimum duration set to 10 min ......There is no alert message popping up on the same.

[2020-09-28 07:01] deekshanagesh08 commented on #214
The issue has been fixed. Kindly do the testing and let me know if there are any issues.

[2020-09-28 07:04] Adharshd commented on #208
@ranjeetibm can you please check the same? We need an alert that says "Test Duration(mins) should minimum 10 mins" if a test duration of <10 mins is selected.

[2020-09-28 07:08] Adharshd commented on #198
@ to be discussed in scrum call.

[2020-09-28 07:19] Adharshd commented on #215
@rkulkar5 Just saw the blank candidate at 4 - can you check why that happens?

[2020-09-28 07:23] Adharshd commented on #209
@Nagalakshmi97 Can you also tell me where is this screen? Thank you.

[2020-09-28 07:26] Adharshd commented on #189
@sivabluemix  Can you please retest this issue in cloud? Thank you.

[2020-09-28 07:37] sivabluemix commented on #213
Understand & Closing!!

[2020-09-28 07:37] #213 closed, assigned to sivabluemix

[2020-09-28 07:41] sivabluemix commented on #155
Fix is working, so closing the defect.,

[2020-09-28 07:41] #155 closed, assigned to sivabluemix

[2020-09-28 07:44] sivabluemix commented on #131
Fix is working & Closing the defect.,

[2020-09-28 07:44] #131 closed, assigned to rkulkar5, sivabluemix

[2020-09-28 07:48] sivabluemix commented on #130
Fix working and closing the defect.,

[2020-09-28 07:48] #130 closed, assigned to sivabluemix

[2020-09-28 07:50] sivabluemix commented on #132
Fix working and closing the defect.,

[2020-09-28 07:50] #132 closed, assigned to sivabluemix

[2020-09-28 07:53] sivabluemix commented on #137
I have tried again, but seems its not working as expected, Please check,
![Uploading image.png…]()

[2020-09-28 07:56] sivabluemix commented on #163
fix working and closing the defect.,

[2020-09-28 07:56] #163 closed, assigned to sivabluemix

[2020-09-28 08:01] Tatireddysreevani commented on #152
closing the issue as its working fine now........

[2020-09-28 08:01] #152 closed, assigned to Adharshd

[2020-09-28 08:15] rashmidevapura commented on #198
Fixed Naan issue

[2020-09-28 08:16] rashmidevapura commented on #198
Account fix assigning to Rajesh

[2020-09-28 08:18] rashmidevapura commented on #211
Fixed the issue for contractor quiz and all questions for contractor type are from complex level

[2020-09-28 08:19] Adharshd opened #220 "View Question: Should contain list of questions with columns a) question b) account c) technology stream with search option for searching for Account"

[2020-09-28 08:19] rashmidevapura commented on #211
Checked in ..please verify once deployed to cloud

[2020-09-28 08:28] rashmidevapura commented on #212
Might the data is not in sync ...the  results and candidate table data not matching...user name might be edited... Several reasons ....now as per in Amit call we should not edit or delete the candidates once he progressed after initial registration....

[2020-09-28 09:42] Teja-swi commented on #127
Issue fixed

[2020-09-28 09:42] #127 closed, assigned to Teja-swi

[2020-09-28 10:12] Teja-swi opened #221 "pre-techinal questions to be linked to account"
As per discussion with DEV team, these questions has to be linked to Account and JRSS.

![image](https://user-images.githubusercontent.com/66815529/94420019-2eb66580-01a1-11eb-8306-dfe5b55c7beb.png)
![image](https://user-images.githubusercontent.com/66815529/94420035-3413b000-01a1-11eb-8721-946103795e1f.png)

[2020-09-28 10:17] ranjeetibm commented on #205
As discussed, assigning the defect to Rashmi.

[2020-09-28 10:25] Adharshd commented on #199
Found that the missing image issue is fixed.

[2020-09-28 10:28] Adharshd commented on #221
@rkulkar5 can you please check the issue?

[2020-09-28 10:32] Teja-swi commented on #200
As a alert is not required ..closing this issue

[2020-09-28 10:32] #200 closed, assigned to Teja-swi

[2020-09-28 10:59] Adharshd commented on #206
@Teja-swi Please test again when the code is deployed in cloud.

[2020-09-28 11:04] Teja-swi commented on #210
Hi Rashmi,  I believe issues are as below

1) alignment issue - as marked below
![image](https://user-images.githubusercontent.com/66815529/94424752-5e1ca080-01a8-11eb-9068-20f9f6c5a3a0.png)
2) Unable to download/view CV, thought CV is uploaded during candidate registration

[2020-09-28 11:52] rashmidevapura commented on #205
As per requirement... candidate details can not be deleted or edited if candidate has completed online test stage...alert message added...checked in please verify....

[2020-09-28 12:10] Tatireddysreevani opened #222 "Account level sme: Not able to find to which candidate the interview has been scheduled"
![image](https://user-images.githubusercontent.com/61975055/94429832-958f4b00-01b0-11eb-89e2-64e700addce2.png)
In sme queue clicked on scheduled interview without selecting the candidate, then it shows popup message like this.
![image](https://user-images.githubusercontent.com/61975055/94429957-c4a5bc80-01b0-11eb-8fe1-05398c6029b2.png)
but opens calender
![image](https://user-images.githubusercont

[2020-09-28 12:18] ranjeetibm commented on #208
Fixed and checked in the code.
Please retest once tomorrow code is redeployed to cloud.

[2020-09-28 12:35] Adharshd commented on #222
@rkulkar5 I tested the same in local and was able to recreate the issue.

When I click on Ok in the "Please select a candidate" popup - the calender model appears instead of closing the popup.

[2020-09-28 12:58] rkulkar5 commented on #198
As discussed in the call please make the changes so as to display the client field in the UI only if the candidate belongs to DWP account

[2020-09-28 13:16] Tatireddysreevani commented on #222
yes, we are able to schedule interview also but how should we know to which candidate interview scheduled

[2020-09-28 13:50] Adharshd commented on #222
@Tatireddysreevani Basically - you should select the candidate radio button first - which is the first column(Action) in the queue.

[2020-09-28 16:38] #6 closed

[2020-09-28 16:40] #29 closed

[2020-09-28 16:41] #36 closed

[2020-09-28 16:41] #57 closed, assigned to samirghoshibm

[2020-09-28 16:43] #105 closed, assigned to sivabluemix, samirghoshibm, Premaks

[2020-09-29 04:19] Tatireddysreevani commented on #222
Yes Adharsh, My doubt is after click on "OK" of popup message "please select a candidate" we have to return back to the screen but here calender is displaying. It should not happen right?

[2020-09-29 05:24] Tatireddysreevani commented on #216
I had created admin with DWP, ANTHEM, IDEA accounts. I am able to add candidates with DWP,ANTHEM,IDEA accounts only, not able to add candidates with other accounts

[2020-09-29 05:50] Nagalakshmi97 commented on #209
Hi,
 
When am doing one round of testing i found that screen, For exact path where it is  i will check again and get back to you
 
Thanks&regards
Mandava Nagalakshmi
 
----- Original message -----From: Adharsh <notifications@github.com>To: rkulkar5/OnlineTAT <OnlineTAT@noreply.github.com>Cc: Nagalakshmi97 <mannag10@in.ibm.com>, Assign <assign@noreply.github.com>Subject: [EXTERNAL] Re: [rkulkar5/On

[2020-09-29 06:06] Tatireddysreevani commented on #217
Able to view candidates belongs to same account/accounts as admin

[2020-09-29 06:53] Tatireddysreevani opened #223 "Account level management: Alignment changes required"
![image](https://user-images.githubusercontent.com/61975055/94522982-26683400-024e-11eb-8d15-baac1faed930.png)
Here Technical interview feedback and partner interview feedback need to align properly and it would be better to move "job role, online test result, pre interview form and technical interview result "  slightly right side

[2020-09-29 08:11] Adharshd commented on #223
@rashmidevapura can you check these alignment issues?

[2020-09-29 08:44] rashmidevapura commented on #223
On all screen it looks same way: no need to change now

[2020-09-29 08:46] Tatireddysreevani commented on #223
closing as it is as per requirement

[2020-09-29 08:46] #223 closed, assigned to deekshanagesh08

[2020-09-29 10:43] rkulkar5 commented on #207
The issue was introduced due to material design changes
This has been fixed and deployed on Cloud
Please verify and close the issue
Thanks

[2020-09-29 11:16] Teja-swi opened #224 "Able to create candidate with a JRSS, which has no Test Configuration"
![image](https://user-images.githubusercontent.com/66815529/94551539-2169ab80-0273-11eb-9a56-3914bde11782.png)
![image](https://user-images.githubusercontent.com/66815529/94551585-35ada880-0273-11eb-8ef8-e0d5497e08fc.png)

[2020-09-29 12:01] rashmidevapura commented on #210
Fixed..please verify after cloud deployment

[2020-09-29 12:45] Teja-swi opened #225 "Test Configuration - Every time new record is getting created"
![image](https://user-images.githubusercontent.com/66815529/94559919-8deaa780-027f-11eb-9cca-4cc779c8c63d.png)

[2020-09-29 13:11] rashmidevapura commented on #137
fixed..please verify once deployed on cloud

[2020-09-29 15:46] ranjeetibm commented on #198
Fixed. Code checked-in to GIT and today night it will be deployed to cloud.
Please retest after the deployment.

[2020-09-30 02:21] Tatireddysreevani commented on #207
closing as working fine.....

[2020-09-30 02:21] #207 closed, assigned to rkulkar5, Tatireddysreevani, Teja-swi

[2020-09-30 04:48] Tatireddysreevani opened #226 "Account level sme: Calculate final score is not working"
Calculate final score in Initiate technical interview screen of sme queue is not working
![image](https://user-images.githubusercontent.com/61975055/94644169-35aab880-0306-11eb-86d7-41bf04266ae0.png)

[2020-09-30 05:21] Adharshd commented on #226
@rashmidevapura @rkulkar5 Yes, I can recreate this issue in local as well now.

[2020-09-30 05:33] Adharshd commented on #225
@rkulkar5 this issue is not happening in local for me(in both by a) editing the existing test config or b)when creating a new test-config with same Job role). Can you please check this data in cloud?

[2020-09-30 05:37] Adharshd commented on #224
@ranjeetibm Yes, I can recreate the issue in local as well - can you please check the same?

[2020-09-30 06:19] Adharshd opened #227 "Email Notifications Scenarios to be Tested"
The scenarios are

a) When a candidate is introduced in the SME, Partner & project assignment queue: Email notification sent to
SME queue: TechSME receives the email notification.
Partner queue: Partner receives the email notification.
Project Assignment queue: Both partner and operations user receives the email notification.
b) When a candidate account is registered by admin i.e when the candidat

[2020-09-30 06:26] Teja-swi opened #228 "Bulk upload - questions are getting updated. --- but the filling up template should be easy to understand for admin"
![image](https://user-images.githubusercontent.com/66815529/94650144-c3d96b80-0313-11eb-8c34-7c04671ca2f3.png)
Tested in Mozilla, cloud
Trying to add questions to single account.

[2020-09-30 06:35] Teja-swi opened #229 "Alignment issue - Cosmetic change"
Can Answered, Unanswered, Flagged aligned to above.

![image](https://user-images.githubusercontent.com/66815529/94650711-d99b6080-0314-11eb-83e8-2e332b168615.png)

[2020-09-30 06:45] rashmidevapura commented on #212
Please test this scenario again after data clean up....

[2020-09-30 06:50] Adharshd commented on #228
@Teja-swi can you also add the input excel used here?

[2020-09-30 06:51] Teja-swi opened #230 "Pretechnical Form - Save Draft is not working for Regulars and Contractors"
Tested in cloud - Mozilla

![image](https://user-images.githubusercontent.com/66815529/94652064-15372a00-0317-11eb-8c5a-8ceb8b766dda.png)

When we re-login , values are not populating

![image](https://user-images.githubusercontent.com/66815529/94652143-30a23500-0317-11eb-89bc-8aa5ec0cae23.png)

[2020-09-30 06:52] Teja-swi commented on #211
Contractor is getting exam - all complex questions

[2020-09-30 06:52] #211 closed, assigned to Teja-swi

[2020-09-30 06:53] Teja-swi commented on #228
[Bulk_Upload_Template.xlsx](https://github.com/rkulkar5/OnlineTAT/files/5303589/Bulk_Upload_Template.xlsx)

[2020-09-30 07:13] Teja-swi opened #231 "Contractor details"
Since contractor will not have a band, Can we have " Type: Contractor " in contractor details
![image](https://user-images.githubusercontent.com/66815529/94654044-2170b680-031a-11eb-923d-82613361d982.png)

[2020-09-30 07:44] Adharshd commented on #230
@samirghoshibm assigning to you as Rajesh, who worked on this, already has a few issues.

I can also recreate this local.

[2020-09-30 07:45] Adharshd commented on #231
@Teja-swi What are the values for "Type" field?

[2020-09-30 07:46] Adharshd commented on #229
Assigned to @Adharshd

[2020-09-30 07:46] Adharshd commented on #228
To be checked with excel which seems to work.

[2020-09-30 07:48] Adharshd commented on #217
If so - can you close this issue. @Tatireddysreevani

[2020-09-30 07:55] Adharshd opened #232 "View Questions: In the case multiple account questions"
In View Questions:

If, as a multiple account admin, you try and edit or delete a question mapped to > 1 accounts(which the admin is also mapped to) - a pop-up message should appear for conforming the same edit or delete question.

[2020-09-30 08:09] Tatireddysreevani commented on #217
In sector level, admin should be able to view candidates belongs to different account also right?

[2020-09-30 08:09] Teja-swi commented on #208
Issue fixed ....getting alert

[2020-09-30 08:09] #208 closed, assigned to Teja-swi

[2020-09-30 08:11] Teja-swi opened #233 "Test Configuration - Passing Score"
Logically Passing score cannot be beyond 100.

![image](https://user-images.githubusercontent.com/66815529/94659880-90520d80-0322-11eb-939c-2fda679584e5.png)

[2020-09-30 08:24] Teja-swi opened #234 "Admin > Test Results"
Screen is not proper

![image](https://user-images.githubusercontent.com/66815529/94661242-6ef22100-0324-11eb-8c60-2aa15fdb9479.png)

[2020-09-30 08:30] Teja-swi commented on #205
![image](https://user-images.githubusercontent.com/66815529/94661935-520a1d80-0325-11eb-9705-12e2fa293247.png)
Issue fixed

[2020-09-30 08:30] #205 closed, assigned to Teja-swi

[2020-09-30 08:34] Adharshd commented on #228
@Teja-swi : For the QuestionType column, the possible values are singleselect or multiselect whereas previously you provided as single. I have made that change in the excel.
[Uploading Bulk_Upload_Template(1).xlsx…]()

[2020-09-30 08:38] Adharshd commented on #234
The View Results screen is okay for me in local.

![image](https://user-images.githubusercontent.com/8875515/94662551-2dfb0c00-0326-11eb-968e-e47d240e6f8d.png)

@Teja-swi : Have you not completed even one online test for this account that you using here?

@rkulkar5 : can you check the data in cloud?

[2020-09-30 08:39] Adharshd commented on #233
@samirghoshibm : can you set the upper limit of passing score to 100?

[2020-09-30 09:16] Teja-swi commented on #227
I have tested for Candidate Registration , Initiate interview . I have not received any mail as a candidate

[2020-09-30 09:25] Teja-swi commented on #212
Tested after data clean up ...candidate details were reflecting properly in SME/partner queue.

But, Pre-technical Forms are still not loading in cloud.

[2020-09-30 09:26] Teja-swi commented on #234
@Adharshd : I have finished for more than one candidate.

[2020-09-30 09:53] rashmidevapura commented on #164
@Teja-swi  : Initial design developed like after clear button need to click search button to get the results...in order to change it has major impact.Not changing at now as high priority.

[2020-09-30 10:33] Adharshd commented on #206
Made some more changes - please retest after next cloud deployment if its not working currently. @Tatireddysreevani

[2020-09-30 10:36] Tatireddysreevani commented on #206
sure Adharsh

[2020-09-30 11:02] Adharshd commented on #135
Decided that this issue will be solved when W3 sign-up/login is implemented.

[2020-09-30 11:12] Adharshd commented on #197
Yes, this is because Project Assignment is a different screen. This is the same for techSME, Partner, operations.

[2020-09-30 11:14] Adharshd commented on #227
@ranjeetibm I can see email notif. in local but not in cloud.

[2020-09-30 11:22] Teja-swi commented on #228
Can we have a drop down to Questiontype columns in the draft excel sheet. You can mark it as "New requirement". For example,
![image](https://user-images.githubusercontent.com/66815529/94679156-41fe3800-033d-11eb-9b36-583e92618e87.png)

[2020-09-30 11:23] Adharshd commented on #228
Sure - we can mark this as new requirement

[2020-09-30 11:47] Adharshd commented on #216
So, can you close the issue.

[2020-09-30 11:47] Tatireddysreevani commented on #214
closing as its working fine

[2020-09-30 11:47] #214 closed, assigned to sivabluemix, deekshanagesh08

[2020-09-30 11:48] Tatireddysreevani commented on #215
closing as issue got resolved after cleaning up database

[2020-09-30 11:48] #215 closed, assigned to rkulkar5

[2020-09-30 11:49] Adharshd commented on #204
@Tatireddysreevani The reason is Red(meaning the candidate failed the online test) is not possible in Partner queue as without passing the online test - the candidate reach partner interview stage.

If this is the only issue  - you can close this issue

[2020-09-30 11:54] Adharshd commented on #203
2) The search criteria is not required as the job roles within an account will probably be around 5-10.
3) Please retest now.

[2020-09-30 11:55] Adharshd commented on #153
Can you please retest the same?

[2020-09-30 11:56] Tatireddysreevani commented on #206
closing as working fine

[2020-09-30 12:04] Tatireddysreevani commented on #226
closing as working fine

[2020-09-30 12:04] #226 closed, assigned to rkulkar5

[2020-09-30 12:09] Tatireddysreevani commented on #216
closing as issue got resolved

[2020-09-30 12:09] #216 closed, assigned to Tatireddysreevani

[2020-09-30 12:10] #217 closed, assigned to Tatireddysreevani

[2020-09-30 12:12] Adharshd commented on #222
Yes, that is what Rajesh is currently working on.

[2020-09-30 12:15] rkulkar5 commented on #227
@ranjeetibm can you do some investigation why it does not work on IBM Cloud

[2020-09-30 12:17] Tatireddysreevani commented on #222
ok

[2020-09-30 12:19] rashmidevapura commented on #123
Added a message "Select user Role first" on add user. checked in code ... please verify once deployed in the code...

[2020-09-30 12:20] rashmidevapura commented on #123
Added sample screen from local:
![image](https://user-images.githubusercontent.com/61687054/94684217-5e05d780-0345-11eb-86d7-b8f0f352815f.png)

[2020-09-30 12:34] deekshanagesh08 commented on #232
When multi account admin tries to edit/delete,  a window pops up asking to confirm if the question belonging to x,y account be deleted/edited. It works fine ion local.

Can you please retest and let us know

[2020-09-30 12:40] Adharshd commented on #122
Since this is not discussed before - marked as new requirement.

[2020-09-30 12:48] Teja-swi commented on #232
Delete option is adding questions more questions to the screen. After re-login or refresh, the question details were back to normal.

![image](https://user-images.githubusercontent.com/66815529/94686464-7e836100-0348-11eb-934c-c98fc85fa167.png)
![image](https://user-images.githubusercontent.com/66815529/94686477-8216e800-0348-11eb-8d72-636218341a0b.png)
![image](https://user-images.githubuserconte

[2020-09-30 12:55] rashmidevapura commented on #122
Added filters..checked in ..please verify

[2020-09-30 13:13] Tatireddysreevani commented on #197
closing as it is a intentional design

[2020-09-30 13:13] #197 closed, assigned to Teja-swi

[2020-09-30 13:18] Tatireddysreevani commented on #198
still getting multiple accounts in client dropdown
![image](https://user-images.githubusercontent.com/61975055/94689852-fe132f00-034c-11eb-86c6-23f14e9df217.png)

[2020-09-30 14:05] Teja-swi opened #235 "Initiate interview Screen > Technology stream values are getting duplicated"
![image](https://user-images.githubusercontent.com/66815529/94695919-1f2b4e00-0354-11eb-9a11-9a06b65970c2.png)

[2020-09-30 14:18] Tatireddysreevani commented on #194
closing as its working fine now

[2020-09-30 14:18] #194 closed, assigned to rkulkar5, sivabluemix

[2020-09-30 14:20] Tatireddysreevani commented on #189
working.........

[2020-09-30 14:20] #189 closed, assigned to sivabluemix

[2020-09-30 14:22] Tatireddysreevani commented on #179
issue got resolved

[2020-09-30 14:22] #179 closed, assigned to deekshanagesh08

[2020-09-30 14:26] Tatireddysreevani commented on #175
issue resolved

[2020-09-30 14:26] #175 closed, assigned to deekshanagesh08

[2020-09-30 14:34] Tatireddysreevani commented on #165
closing as working fine

[2020-09-30 14:34] #165 closed, assigned to rkulkar5, sivabluemix

[2020-09-30 14:35] ranjeetibm commented on #198
As discussed. Please retest.

[2020-09-30 14:37] Tatireddysreevani commented on #164
working now.....

[2020-09-30 14:37] #164 closed, assigned to Teja-swi

[2020-09-30 14:40] Tatireddysreevani commented on #162
working.........

[2020-09-30 14:40] #162 closed, assigned to sivabluemix

[2020-09-30 14:42] Teja-swi opened #236 "Initiate Partner Interview screen"
![image](https://user-images.githubusercontent.com/66815529/94700418-138e5600-0359-11eb-9fb4-62743256cc7c.png)
![image](https://user-images.githubusercontent.com/66815529/94700559-3d477d00-0359-11eb-9516-6fa2592914f6.png)

Feilds were not aligned properly

[2020-09-30 14:47] Teja-swi commented on #209
Management role > Dashboard > View details

![image](https://user-images.githubusercontent.com/66815529/94701135-eaba9080-0359-11eb-9a06-897e08f9d37f.png)

[2020-09-30 14:48] Teja-swi commented on #220
![image](https://user-images.githubusercontent.com/66815529/94698218-b5607380-0356-11eb-92db-7f6dfff02aa8.png)

[2020-09-30 14:48] #220 closed, assigned to Teja-swi

[2020-09-30 14:52] Teja-swi commented on #218
Working fine

[2020-09-30 14:52] #218 closed, assigned to Teja-swi

[2020-09-30 14:53] Tatireddysreevani commented on #198
No Ranjeet, not getting still

[2020-09-30 14:57] Tatireddysreevani commented on #157
working......

[2020-09-30 14:57] #157 closed, assigned to sivabluemix

[2020-09-30 15:09] Tatireddysreevani commented on #204
![image](https://user-images.githubusercontent.com/61975055/94703746-cdd38c80-035c-11eb-95de-827016605034.png)
in partner interview of partner queue online test result is in blue colour

[2020-09-30 15:11] Teja-swi commented on #204
Is it not required as marked below ??
![image](https://user-images.githubusercontent.com/66815529/94702482-7254cf00-035b-11eb-8f65-ad11d0aee2c4.png)

We believe color code is implemented for SME queue , so it will be implemented for partner queue as well.

[2020-09-30 15:15] Tatireddysreevani commented on #138
working........

[2020-09-30 15:15] #138 closed, assigned to rkulkar5

[2020-09-30 15:16] Tatireddysreevani commented on #137
working......

[2020-09-30 15:16] #137 closed, assigned to sivabluemix

[2020-09-30 15:33] Teja-swi commented on #141
This is not available for account SME and sector SME.

[2020-09-30 15:35] Adharshd commented on #204
I understand - I thought the issue is with only Red code.

@samirghoshibm  Can you check the color coding in Partner/Project assignment queues? The color coding is implemented in techSME queue so far.

[2020-09-30 15:36] Teja-swi commented on #142
![image](https://user-images.githubusercontent.com/66815529/94707225-d0d07c00-0360-11eb-85b7-d854b3a4a89f.png)

[2020-09-30 15:36] #142 closed, assigned to Nagalakshmi97

[2020-09-30 15:36] Teja-swi commented on #147
Issue fixed

[2020-09-30 15:36] #147 closed, assigned to sivabluemix

[2020-09-30 15:38] Teja-swi commented on #160
Issue fixed
![Uploading image.png…]()

[2020-09-30 15:38] #160 closed, assigned to sivabluemix

[2020-09-30 15:45] Adharshd commented on #236
@rashmidevapura Can you check this issue?

[2020-09-30 15:47] Teja-swi commented on #203
![image](https://user-images.githubusercontent.com/66815529/94708453-412bcd00-0362-11eb-8ab5-7bf097d24f2c.png)
Issue fixed

[2020-09-30 15:47] #203 closed, assigned to Teja-swi

[2020-09-30 15:47] Adharshd commented on #212
@rashmidevapura @rkulkar5 I think is another issue which works in local but not in cloud.

[2020-09-30 15:48] Teja-swi commented on #219
Working fine
![Uploading image.png…]()

[2020-09-30 15:48] #219 closed, assigned to sivabluemix

[2020-09-30 15:49] Teja-swi commented on #202
![Uploading image.png…]()

[2020-09-30 15:49] #202 closed, assigned to sivabluemix

[2020-09-30 15:50] Adharshd commented on #209
@Teja-swi @Nagalakshmi97  Can you highlight the alignment issues here?

[2020-09-30 15:52] Adharshd commented on #170
@Tatireddysreevani would you mind testing again?
can you tell me what is the error message the third time when you were not able to update?

[2020-09-30 15:56] Teja-swi opened #237 "If admin deleted questions, assessment details were blank for candidate in SME queue."
![image](https://user-images.githubusercontent.com/66815529/94709213-1db55200-0363-11eb-965a-bc91a1e387db.png)

[2020-09-30 15:59] Adharshd commented on #232
@Teja-swi Does this mean the number of questions increased from 63 to 93 after deleting one question "Medium docker 30/9"?

@deekshanagesh08 can you please check the same?

[2020-09-30 16:01] Teja-swi commented on #153
ID is having space.

![image](https://user-images.githubusercontent.com/66815529/94710239-3d00af00-0364-11eb-861c-311e68100a4d.png)

[2020-09-30 16:01] Adharshd commented on #141
@Teja-swi : you should be able to Add Tech. Streams in sector and account level tech sme under "Manage Question" tab in the option shown below.
![image](https://user-images.githubusercontent.com/8875515/94710193-2d816600-0364-11eb-8215-522682792038.png)

[2020-09-30 16:03] Teja-swi commented on #232
@Adharshd - Yes, But if we re-login everything is good and as expected.

[2020-09-30 16:04] Adharshd commented on #153
@samirghoshibm : Can you remove any space while creating the IDs?

[2020-09-30 16:07] Adharshd commented on #237
@rashmidevapura @rkulkar5 is it fine to lose this "Assessment Details" data when admin decides to delete the question itself?

[2020-09-30 16:12] Tatireddysreevani commented on #170
after passing the quiz, i am getting pre technical form but not able to fill answers. Its getting disabled

[2020-09-30 16:16] Adharshd commented on #170
@Tatireddysreevani can you share the candidate username and pw so that it is easier to recreate the issue?

[2020-09-30 16:19] Adharshd commented on #235
I this has to be fixed as we found in the meeting.

[2020-09-30 16:21] Teja-swi commented on #141
Working FIne, It could have been better if this is divided into a different section.

[2020-09-30 16:24] Tatireddysreevani commented on #170
candwp1@in.ibm.com
now when i am trying to attempt quiz second time, getting screen like this
![image](https://user-images.githubusercontent.com/61975055/94712708-7850ad00-0367-11eb-8484-b7448adb6d71.png)

[2020-09-30 16:37] Adharshd commented on #170
@Tatireddysreevani can you tell me whether you passed the test previously? Because, once you pass with a candidate - one should always get the stage 2 pre-tech form and not the stage-1 online test again.

Coming to the blank screen - it is possible that we ran out eligible questions as the previous attempts' questions should not repeated.

[2020-09-30 16:42] Tatireddysreevani commented on #170
yes Adharsh, i passed the test previously. May be that could be the reason.

[2020-09-30 16:42] Tatireddysreevani commented on #170
If that is the case like one person can fill form only once, i will close the issue

[2020-09-30 16:52] Teja-swi commented on #209
![image](https://user-images.githubusercontent.com/66815529/94715361-fcf0fa80-036a-11eb-9bcf-9fe8c126bd2d.png)
![image](https://user-images.githubusercontent.com/66815529/94715469-23af3100-036b-11eb-8198-79d037e78e92.png)
![image](https://user-images.githubusercontent.com/66815529/94715676-738df800-036b-11eb-8a3f-70582bb06407.png)

[2020-09-30 17:00] Tatireddysreevani commented on #198
working as per requirement

[2020-09-30 17:00] #198 closed, assigned to Tatireddysreevani

[2020-09-30 17:15] Teja-swi commented on #210
Issue fixed

[2020-09-30 17:15] #210 closed, assigned to Teja-swi

[2020-09-30 17:18] Teja-swi commented on #99
![image](https://user-images.githubusercontent.com/66815529/94718169-fe242680-036e-11eb-982a-3b9b7285771c.png)

[2020-09-30 17:18] #99 closed, assigned to samirghoshibm, Teja-swi

[2020-09-30 17:24] Adharshd commented on #170
@Tatireddysreevani : If you have completed the quiz and also the pre-tech form and if you try to login again - you get error msg:
![image](https://user-images.githubusercontent.com/8875515/94718706-bce04680-036f-11eb-8a45-5bdba44aed62.png)

If that is not happening - then we need to check the same.

@rkulkar5 : can you tell whether user candwp1@in.ibm.com has completed both the online test and pre

[2020-10-01 05:48] Tatireddysreevani commented on #136
save button is working but  the space between 'save, reset, cancel' is not equal

[2020-10-01 07:18] Teja-swi opened #238 "Sector SME - Add questions"
Questions added to 'SECTOR' were not reflecting account level

![image](https://user-images.githubusercontent.com/66815529/94778998-d1f6bd00-03e3-11eb-998b-44b5d5bb4a7e.png)

[2020-10-01 07:22] Adharshd commented on #238
@Teja-swi You mean you can't see them in "View Questions" of admin?

@deekshanagesh08 : can you tell whether questions mapped to "sector"(case-insensitive) will be part of view questions screen?

[2020-10-01 07:57] Teja-swi commented on #237
![image](https://user-images.githubusercontent.com/66815529/94783080-cad2ad80-03e9-11eb-8e68-b0b1b4ca1e13.png)
some times , the mapping is wrong. the exam is written on 29th .....but it is showing question which I inserted on 30th

[2020-10-01 08:04] rashmidevapura commented on #237
yes its fine if deliberately admin deleted those questions...then it will not appear

[2020-10-01 08:04] Nagalakshmi97 commented on #123
Working Fine

[2020-10-01 08:04] #123 closed, assigned to Teja-swi

[2020-10-01 08:26] Teja-swi opened #239 "Initiate Partner interview - alignement issue"
![image](https://user-images.githubusercontent.com/66815529/94785803-c90ae900-03ed-11eb-9410-a1006c302193.png)

Feilds were disbursed

[2020-10-01 08:28] Nagalakshmi97 commented on #122
Working Fine

[2020-10-01 08:28] #122 closed, assigned to Teja-swi

[2020-10-01 08:29] Teja-swi commented on #239
![image](https://user-images.githubusercontent.com/66815529/94786139-33238e00-03ee-11eb-9fe1-bd77c7f02526.png)

[2020-10-01 08:30] Teja-swi commented on #239
![image](https://user-images.githubusercontent.com/66815529/94786139-33238e00-03ee-11eb-9fe1-bd77c7f02526.png)

[2020-10-01 08:42] samirghoshibm commented on #233
@Teja-swi , fix is implemented. Please verify and close.

[2020-10-01 08:44] samirghoshibm commented on #204
@Teja-swi , fix is implemented for this issue. Please verify this when the next build is deployed

[2020-10-01 09:14] Teja-swi opened #240 "If the score is added , Technology streams are to be provided."
![image](https://user-images.githubusercontent.com/66815529/94790848-80a2f980-03f4-11eb-9c31-3ad88bb2fafc.png)

[2020-10-01 09:16] Teja-swi opened #241 "If the score is added , Technology streams are to be provided."
![image](https://user-images.githubusercontent.com/66815529/94790848-80a2f980-03f4-11eb-9c31-3ad88bb2fafc.png)

[2020-10-01 09:22] Tatireddysreevani opened #242 "Partner: Status of candidates are not updating correctly in dashboard"
For test(candidate name) I gave final result as “Not suitable” in partner interview
![image](https://user-images.githubusercontent.com/61975055/94790786-6537ee80-03f4-11eb-90aa-091928bf02ce.png)

But in dashboard of partner queue result is showing as pending…
![image](https://user-images.githubusercontent.com/61975055/94790829-75e86480-03f4-11eb-989a-f13d87eddd67.png)

For test1 I gave final resul

[2020-10-01 09:31] rkulkar5 commented on #222
I am currently looking at the issue, it will finished by today (01-Oct) Eod

[2020-10-01 10:00] Adharshd commented on #239
Marked as New requirement as this was accepted design previously.

[2020-10-01 10:03] #240 closed, assigned to Adharshd

[2020-10-01 10:14] Adharshd commented on #241
@ranjeetibm : can you please check the same?

[2020-10-01 10:15] Adharshd commented on #242
@rashmidevapura : Can you please check the same?

[2020-10-01 11:01] rashmidevapura commented on #242
Fixed ..checked in..please test once deployed in cloud

[2020-10-01 11:12] Tatireddysreevani commented on #242
ok Rashmi

[2020-10-01 11:13] Tatireddysreevani commented on #242
will check and inform back

[2020-10-01 12:28] Tatireddysreevani commented on #233
issue fixed

[2020-10-01 12:28] #233 closed, assigned to Teja-swi

[2020-10-01 13:43] #1 closed

[2020-10-01 19:21] ranjeetibm commented on #224
Fixed the issue and checked-in the code to GIT.
Please retest once the code is deployed to Cloud.

[2020-10-01 20:04] samirghoshibm commented on #153
Fix is implemented. In the next build it will be available for test.

[2020-10-05 08:48] #112 closed, assigned to Harshitha-Edpuganti

[2020-10-05 08:48] #111 closed, assigned to Harshitha-Edpuganti

[2020-10-05 08:49] #110 closed, assigned to Harshitha-Edpuganti

[2020-10-05 08:50] #90 closed, assigned to Harshitha-Edpuganti

[2020-10-05 08:51] #59 closed, assigned to Harshitha-Edpuganti

[2020-10-05 08:58] rashmidevapura commented on #236
Fixed the issue,checked in...please verify once it is deployed

[2020-10-05 08:59] samirghoshibm commented on #230
Removed the attribute "status:1" in the mongodb query and verified the functionality in local which works fine. Needs to verified the same after deployment on cloud environment.

[2020-10-05 09:05] rashmidevapura commented on #239
Fixed issue..please verify once deployed on cloud

[2020-10-05 09:07] rashmidevapura commented on #229
@Teja-swi : Did not understand the expectation...please provide more info what is expected ?

[2020-10-05 09:08] rashmidevapura commented on #159
Fixed ..please verify once deployed to cloud...

[2020-10-05 09:10] rashmidevapura commented on #128
Fixed the issue...please verify

[2020-10-05 09:12] rashmidevapura commented on #144
@rkulkar5 : Fixed the issue..please verify..if it is fine ...assign to test team...

[2020-10-05 09:14] rashmidevapura commented on #209
Fixed the issue..please verify once code is deployed to cloud..

[2020-10-05 09:19] rashmidevapura commented on #234
@Teja-swi :Could you confirm retest the scenario and confirm whether still this issue exists?

[2020-10-05 09:46] Tatireddysreevani commented on #242
still facing the same issue.
![image](https://user-images.githubusercontent.com/61975055/95064377-4780c700-071d-11eb-9f9c-cccc2398992a.png)
here i gave technical interview result as "not Suitable" for candidate_vani7, but showing as pending
if we click on view details, we are able to see the result as not suitable
![image](https://user-images.githubusercontent.com/61975055/95064637-a0e8f600-071d-1

[2020-10-05 09:49] Tatireddysreevani commented on #204
![image](https://user-images.githubusercontent.com/61975055/95065011-1bb21100-071e-11eb-846c-a83110ec4db5.png)
still facing the issue

[2020-10-05 09:55] rashmidevapura commented on #242
![image](https://user-images.githubusercontent.com/61687054/95065623-f07bf180-071e-11eb-8ad0-da4c8c64cb3b.png)

[2020-10-05 09:58] Tatireddysreevani commented on #242
is it in cloud Rashmi

[2020-10-05 10:00] rashmidevapura commented on #242
![image](https://user-images.githubusercontent.com/61687054/95066088-8d3e8f00-071f-11eb-998a-faa85854c57d.png)
its in local....working fine.... wait for new deployment and test

[2020-10-05 10:01] rashmidevapura commented on #242
try for new candidate and check

[2020-10-05 10:04] Tatireddysreevani commented on #242
ok rashmi

[2020-10-05 12:16] Tatireddysreevani commented on #153
![image](https://user-images.githubusercontent.com/61975055/95076093-f24db100-072e-11eb-9da5-45e8f51f9dd6.png)
I think here the problem is with IIB debeloper jobrole

[2020-10-05 12:37] Tatireddysreevani commented on #204
issue got fixed

[2020-10-05 13:42] Tatireddysreevani commented on #153
closing the issue as working fine

[2020-10-05 18:12] rkulkar5 commented on #222
All the issues listed above are fixed
Please verify and confirm if it works

[2020-10-06 05:53] Harshitha-Edpuganti commented on #221
@Teja-swi  can you please explain the defect clearly with steps

[2020-10-06 06:46] deekshanagesh08 commented on #232
Defect is fixed. Kindly test and let me know if there are any issues

[2020-10-06 06:57] rkulkar5 commented on #234
I too have verified the issue does not exists anymore, please make couple of check and close if it works
Thanks

[2020-10-06 07:00] rkulkar5 commented on #144
@Tatireddysreevani Please verify and close if the changes stratifies you - Thanks

[2020-10-06 07:03] deekshanagesh08 commented on #238
Defect is fixed. Testing can be performed once deployed on cloud

[2020-10-06 07:47] Teja-swi opened #243 "Sector Management user > Add Open Seat"
Sector Management user > Add Open Seat

Accounts were not getting listed

![image](https://user-images.githubusercontent.com/66815529/95173105-de10bf00-07d5-11eb-8880-56a12bda8502.png)

[2020-10-06 07:58] Teja-swi opened #244 "Account field is missing in 'View Open seats' in Sector Management role."
Account field is missing in 'View Open seats' in Sector Management role.

![image](https://user-images.githubusercontent.com/66815529/95174250-722f5600-07d7-11eb-85ea-db15af5a8bf0.png)

[2020-10-06 08:05] Teja-swi commented on #236
Hi @rashmidevapura
Can we make either elements/keys  or the values Bold.

For example,

 **Name** : Tejaaswi    **Job** **Role** : Java technical assessment
OR

 Name : **Tejaaswi**    Job Role : **Java** **technical** **assessment**

[2020-10-06 08:09] Teja-swi commented on #239
Hi @rashmidevapura
Can we make either elements/keys or the values Bold.

For example,

Name : **Tejaaswi** Job Role : **Java** **technical** **assessment**
OR

**Name** : Tejaaswi **Job** **Role** : Java technical assessment

[2020-10-06 08:15] Teja-swi commented on #244
Similarly for Open Positions and eligible candidates

![image](https://user-images.githubusercontent.com/66815529/95176144-14503d80-07da-11eb-9d9b-7fcee8b3d017.png)

![image](https://user-images.githubusercontent.com/66815529/95176239-377aed00-07da-11eb-872f-9ab38986c5d5.png)

[2020-10-06 10:27] #170 closed, assigned to rkulkar5, Tatireddysreevani

[2020-10-06 11:33] rashmidevapura commented on #239
@Teja-swi : Please close this issue

[2020-10-06 11:39] Tatireddysreevani commented on #144
Issue got resolved

[2020-10-06 11:39] #144 closed, assigned to Tatireddysreevani

[2020-10-06 12:33] rashmidevapura commented on #236
@Teja-swi : please close this issue, label bold is not required...

[2020-10-06 12:35] rashmidevapura commented on #237
As per discussion, we should not edit/delete if question already appeared in quiz. Also in case of delete , it is soft delete changing only status to Inactive. Code checked in....please verify once deployed in cloud...

[2020-10-06 12:38] rashmidevapura commented on #212
@Harshitha-Edpuganti :Please verify this...

[2020-10-06 13:02] Teja-swi commented on #239
As discussed, Labeling cannot be implemented. Alignment has been modified.

![image](https://user-images.githubusercontent.com/66815529/95204815-38277980-0802-11eb-8682-53e0154f14a5.png)

[2020-10-06 13:02] #239 closed, assigned to Teja-swi

[2020-10-06 13:04] Teja-swi commented on #236
As discussed, Labeling cannot be implemented. Alignment has been modified.

[2020-10-06 13:04] #236 closed, assigned to Teja-swi

[2020-10-06 13:04] Tatireddysreevani commented on #242
Issue resolved

[2020-10-06 13:04] #242 closed, assigned to Tatireddysreevani

[2020-10-06 13:16] Tatireddysreevani commented on #222
Issue resolved

[2020-10-06 13:16] #222 closed, assigned to rkulkar5, Tatireddysreevani

[2020-10-06 13:45] rashmidevapura commented on #243
@Teja-swi :Fixed the issue...please verify once deployed

[2020-10-06 13:51] rkulkar5 commented on #235
Fixed, It can be tested on cloud on 07-Oct

[2020-10-06 14:14] Tatireddysreevani commented on #222
Issue resolved

[2020-10-07 04:15] Teja-swi commented on #244
Account field is missing in' Open Positions' for multi-account management role

![image](https://user-images.githubusercontent.com/66815529/95286764-d0b10e80-0881-11eb-9b0e-3bd2629a0329.png)

[2020-10-07 04:19] rkulkar5 commented on #230
Data issue, fixed it in cloud
No code change required, It can now be tested

[2020-10-07 04:23] rkulkar5 commented on #212
Please test the pre tech form questions that were not loaded, this was due to data issue and has been fixed

[2020-10-07 04:32] rkulkar5 commented on #143
data fix done, please verify and close

[2020-10-07 05:41] Teja-swi opened #245 "Unable to assign a Failed Candidate/ unrecruited to another account."
Unable to assign a Failed Candidate/ unrecruited  to another account.

![image](https://user-images.githubusercontent.com/66815529/95291609-80d84480-088d-11eb-9139-0a6c973d6d9a.png)

[2020-10-07 05:42] samirghoshibm commented on #86
Closing this as the development work is done long back

[2020-10-07 05:42] #86 closed, assigned to samirghoshibm

[2020-10-07 05:44] #87 closed, assigned to samirghoshibm

[2020-10-07 05:47] #115 closed, assigned to samirghoshibm

[2020-10-07 06:47] deekshanagesh08 commented on #136
Issue is fixed, Kindly test once deployed on cloud

[2020-10-07 07:10] Teja-swi commented on #153
I think issue still exists.

![image](https://user-images.githubusercontent.com/66815529/95298803-46c16f80-089a-11eb-83bc-6145e78f9341.png)

[2020-10-07 07:19] rashmidevapura commented on #245
@Teja-swi : Not discussed as requirement this flow....
This can be marked as new requirement and can be taken up later..

[2020-10-07 07:20] rashmidevapura commented on #244
@Teja-swi :Fixed and please verify once deployment finished...

[2020-10-07 08:02] Teja-swi commented on #128
![image](https://user-images.githubusercontent.com/66815529/95303921-79229b00-08a1-11eb-9c04-430d1dc44e5e.png)
Issue fixed

[2020-10-07 08:02] #128 closed, assigned to Teja-swi

[2020-10-07 08:58] Teja-swi commented on #224
Issue fixed

[2020-10-07 08:58] #224 closed, assigned to Teja-swi

[2020-10-07 09:02] Teja-swi commented on #159
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/95310279-db7f9980-08a9-11eb-9602-bff1269d756e.png)

[2020-10-07 09:02] #159 closed, assigned to Teja-swi

[2020-10-07 09:06] Teja-swi commented on #209
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/95310862-84c68f80-08aa-11eb-9f5e-c9b2f8a60fd4.png)

[2020-10-07 09:06] #209 closed, assigned to Teja-swi

[2020-10-07 09:10] Teja-swi commented on #234
![image](https://user-images.githubusercontent.com/66815529/95311258-fdc5e700-08aa-11eb-9e64-e1c7785e8981.png)

Issue fixed

[2020-10-07 09:10] #234 closed, assigned to rkulkar5, Teja-swi

[2020-10-07 09:22] Teja-swi commented on #230
![image](https://user-images.githubusercontent.com/66815529/95312321-68c3ed80-08ac-11eb-95f6-dcc190855955.png)

![image](https://user-images.githubusercontent.com/66815529/95312517-a6c11180-08ac-11eb-87eb-bd98a6278f44.png)

Some issue with Question 16, unable to save & unable to retrieve.

[2020-10-07 09:23] Teja-swi commented on #212
![image](https://user-images.githubusercontent.com/66815529/95312684-de2fbe00-08ac-11eb-91cb-67a73f5d907d.png)

Currently issue is faced only with Question 16.

[2020-10-07 09:28] Teja-swi commented on #143
Similar to SME , Issue with Question 16

![Uploading image.png…]()

[2020-10-07 09:31] Tatireddysreevani commented on #235
Issue fixed

[2020-10-07 09:31] #235 closed, assigned to Teja-swi

[2020-10-07 11:34] deekshanagesh08 commented on #120
Fixed, test when deployed on cloud

[2020-10-07 15:37] Harshitha-Edpuganti commented on #221
@Teja-swi Fixed. Please test and confirm

[2020-10-07 15:53] Teja-swi opened #246 "JRSS - Pretechnical Form Questions"
Currently  Jrss linked o Pre-technical form questions are case sensitive.

For example,  Java Technical Assessment and Java technical assessment are treated as two different values.

[2020-10-07 16:10] Teja-swi opened #247 "Candidate Status"
Candidate is active, as he didn't submit Pre-tech form and saved it as draft. But the status is showing as inactive in admin page.

![image](https://user-images.githubusercontent.com/66815529/95357041-ff140580-08e4-11eb-80f7-d822a5735c35.png)

[2020-10-07 16:21] Teja-swi opened #248 "Content is not justified"
![image](https://user-images.githubusercontent.com/66815529/95358878-266bd200-08e7-11eb-9ae6-fb7a6e78bc44.png)

[2020-10-08 05:55] Tatireddysreevani commented on #143
Issue fixed

[2020-10-08 05:55] #143 closed, assigned to Tatireddysreevani, Teja-swi

[2020-10-08 06:01] Tatireddysreevani commented on #206
Again we are getting error message in admin screen, sme and partner screen
![Screenshot_2020-10-08-10-47-21-338_com android chrome](https://user-images.githubusercontent.com/61975055/95420792-c19d8f80-0959-11eb-9c34-c990bcbd3b53.jpg)

[2020-10-08 07:30] Teja-swi commented on #244
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/95428046-1941f800-0966-11eb-819b-77adf7af54d1.png)
![image](https://user-images.githubusercontent.com/66815529/95428112-2fe84f00-0966-11eb-800d-94ea9ca4c656.png)

[2020-10-08 07:30] #244 closed, assigned to Teja-swi

[2020-10-08 07:30] Teja-swi commented on #243
Issue fixed
![image](https://user-images.githubusercontent.com/66815529/95428166-455d7900-0966-11eb-934b-e620bcffaa7d.png)

[2020-10-08 07:30] #243 closed, assigned to Teja-swi

[2020-10-08 07:38] Teja-swi opened #249 "Minor cosmetic change - Open seats"

[2020-10-08 07:42] Teja-swi commented on #249
![image](https://user-images.githubusercontent.com/66815529/95429323-dbde6a00-0967-11eb-9f84-05bc4e1b0ad2.png)

on reset, the layout of field changes

![image](https://user-images.githubusercontent.com/66815529/95429350-e7319580-0967-11eb-8f58-18652335c3f3.png)

[2020-10-08 07:44] Teja-swi commented on #136
![image](https://user-images.githubusercontent.com/66815529/95429526-252eb980-0968-11eb-8192-c354222b04f7.png)

Issue fixed

[2020-10-08 07:44] #136 closed, assigned to Teja-swi

[2020-10-08 07:47] Teja-swi commented on #212
Issue fixed

![Uploading image.png…]()

[2020-10-08 07:47] #212 closed, assigned to Teja-swi

[2020-10-08 07:53] Teja-swi commented on #195
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/95430494-74291e80-0969-11eb-94a0-9f29a01c71ff.png)

[2020-10-08 07:53] #195 closed, assigned to Teja-swi

[2020-10-08 08:12] Teja-swi commented on #238
Issue fixed

[2020-10-08 08:12] #238 closed, assigned to Teja-swi

[2020-10-08 08:18] Teja-swi commented on #232
Issue fixed, But I think popup is showing different message

![image](https://user-images.githubusercontent.com/66815529/95432879-dcc5ca80-096c-11eb-9cf6-3169f99b7782.png)

below is the alert message earlier

![image](https://user-images.githubusercontent.com/66815529/95432931-f2d38b00-096c-11eb-91eb-04f4c36f9454.png)

[2020-10-08 08:22] Teja-swi commented on #120
Issue fixed

[2020-10-08 08:22] #120 closed, assigned to Teja-swi

[2020-10-08 08:28] Teja-swi opened #250 "Exam of the Candidate should not trigger, if there are no adequate questions in question Bank"
Exam of the Candidate should not trigger, if there are no adequate questions in question Bank

[2020-10-08 09:14] samirghoshibm commented on #153
The fix for this has been implemented and checked into the repo late evening yesterday. Once the latest build is deployed, the fix can be verified.

[2020-10-08 09:28] samirghoshibm commented on #245
Some more comments on this: In the above scenario, the workaround to assign an another account is to enable the candidate and then edit the candidate record.
When a candidate is enabled the quiz number will be incremented. When editing the candidate record to change the account in this scenario, is it required  initialize the quiz number to zero?
Does it require a background job in certain interva

[2020-10-08 09:56] Teja-swi commented on #247
As discussed, once the exam starts the status would be changed to 'Inactive' in admin screen.

[2020-10-08 09:56] #247 closed, assigned to deekshanagesh08

[2020-10-08 09:56] Teja-swi commented on #249
Currently accepted as it is

[2020-10-08 09:56] #249 closed, assigned to nobody

[2020-10-08 11:20] rashmidevapura commented on #248
Fixed the defect..please test once deployed on the cloud...

[2020-10-08 11:21] rashmidevapura commented on #248
Attaching screen shot for reference

![image](https://user-images.githubusercontent.com/61687054/95452215-8b2a3980-0986-11eb-8413-911605785c48.png)

[2020-10-08 11:23] rashmidevapura commented on #9
Closing the task as it is completed

[2020-10-08 11:24] rashmidevapura commented on #18
Closeing the task as it is completed

[2020-10-08 11:24] #18 closed

[2020-10-08 11:26] rashmidevapura commented on #58
This is not implemented, can be considered for future work.

[2020-10-08 11:26] rashmidevapura commented on #58
This is not implemented, can be considered for future work.

[2020-10-08 11:28] #9 closed

[2020-10-08 11:31] rashmidevapura commented on #21
Closed

[2020-10-08 11:31] #21 closed

[2020-10-08 11:35] Tatireddysreevani commented on #225
issue resolved and working fine

[2020-10-08 11:35] #225 closed, assigned to Tatireddysreevani

[2020-10-08 13:11] #153 closed, assigned to samirghoshibm, Teja-swi, deekshanagesh08

[2020-10-08 13:29] #166 closed, assigned to Teja-swi

[2020-10-08 14:36] ranjeetibm commented on #171
Fixed. Have checked-in the code to git.
Today or 2maro morning code will be deployed to cloud and will be available for the testing.

[2020-10-08 16:10] Teja-swi commented on #221
Since this is a manual process, closing the issue

[2020-10-08 16:10] #221 closed, assigned to Tatireddysreevani

[2020-10-09 06:15] #248 closed, assigned to Teja-swi

[2020-10-09 06:17] Tatireddysreevani commented on #248
Issue resolved

[2020-10-09 06:36] Teja-swi commented on #237
Working fine as we are not deleting the questions in question bank.

[2020-10-09 06:36] #237 closed, assigned to Teja-swi

[2020-10-09 06:39] Teja-swi commented on #230
Issue fixed

[2020-10-09 06:39] #230 closed, assigned to rkulkar5, samirghoshibm

[2020-10-09 07:10] rkulkar5 commented on #246
As discussed in the standup call, this issue arose because the data was inserted from the backend as there are no UI screens to add the pre-Tech Questions
So the question is whether do we need to have new screens or it is ok to close the defect

[2020-10-09 07:26] Tatireddysreevani commented on #171
Issue fixed

[2020-10-09 07:26] #171 closed, assigned to Teja-swi

[2020-10-09 07:37] Harshitha-Edpuganti commented on #229
@Teja-swi Fixed

[2020-10-09 08:08] Teja-swi commented on #229
Issue fixed

[2020-10-09 08:08] #229 closed, assigned to Teja-swi

[2020-10-13 09:30] rkulkar5 commented on #125
I have tried to fix this by making changes to CSS, but it works only for parent links
It does not work when clicked on the child links

[2020-10-14 05:49] Tatireddysreevani opened #251 "Account level admin- Open seat ID is not updating when we edit job role of open position"
i had created one open position like this
![image](https://user-images.githubusercontent.com/61975055/95948655-98c04300-0e0e-11eb-9b6f-067f35cdd2ff.png)
![image](https://user-images.githubusercontent.com/61975055/95948688-a970b900-0e0e-11eb-84c1-8964b6117aa4.png)
then i click on edit and changed job role from Java Technical Assessment to Product manager. But here open position id is not updating.

[2020-10-14 07:45] rashmidevapura commented on #146
Added filters..checked in..please verify once deployed in cloud..

[2020-10-14 08:27] Tatireddysreevani commented on #146
Ok rashmi

[2020-10-15 11:05] Teja-swi opened #252 "Candidate exam should not trigger if 'online assessment stage' is not selected in Work Flow Configuration."
Work Flow configured as below

![image](https://user-images.githubusercontent.com/66815529/96114672-8e33a580-0f03-11eb-9f22-77edda31a74b.png)

Later two records of same candidate are available in Test Results(admin page) and also in Partner Interview queue.
![image](https://user-images.githubusercontent.com/66815529/96115149-20d44480-0f04-11eb-9a71-e1038de92e90.png)

![image](https://user-images.g

[2020-10-15 11:44] Teja-swi commented on #252
As per our discussion, Candidate exam should not trigger if 'online assessment stage' is not selected.

[2020-10-16 04:58] #146 closed, assigned to Teja-swi

[2020-10-16 08:40] Teja-swi commented on #232
The alert message is not yet updated

[2020-10-16 14:01] Teja-swi opened #253 "Mapping Technology Stream"
Job roles details has to populate based on Account, Initially it should not display any values if account is not selected

![image](https://user-images.githubusercontent.com/66815529/96267624-a7148780-0fe5-11eb-8667-9dfcdad88f78.png)

[2020-10-16 14:18] Teja-swi opened #254 "Delete/Edit question of multiple accounts"
If a question is added to DWP& NHS accounts, If DWP admin deletes that question...the question should still appear in NHS queue.

The same applies to the Edit of the question.

[2020-10-16 14:22] Teja-swi opened #255 "Delete/Edit of questions once appered in online assessment"
Admin should be able to edit the questions that once appeared in the online assessment. It should not effect ' candidate assessment details' and the prior question will be soft deleted from the list as per the discussion.

[2020-10-16 14:28] Teja-swi opened #256 "User should not be able to select other accounts, if 'SECTOR' is selected"
User should not be able to select other accounts, if 'SECTOR' is selected . SECTOR should select all the accounts in front end.

![image](https://user-images.githubusercontent.com/66815529/96270899-d88f5200-0fe9-11eb-86b7-82267d8c1af3.png)

[2020-10-16 14:33] Teja-swi opened #257 "Sector SME/ Multi account SME - add Account feild"
Include Account field in Candidate Interview screen

![image](https://user-images.githubusercontent.com/66815529/96271472-90bcfa80-0fea-11eb-9430-dacedd325c14.png)

[2020-10-16 14:37] Teja-swi opened #258 "Sector Partner /Multi account Partner - add Account feild"
1) Include Account field  in Interview, Project assignment queue.

![image](https://user-images.githubusercontent.com/66815529/96271884-0f199c80-0feb-11eb-9251-30dc42a8a3b8.png)

[2020-10-16 14:42] Teja-swi opened #259 "Sector level Partner/Management role - assigning candidate to a open position"
1) Project assignment

Sector level partner should be able to assign candidate to a open position which is linked to that particular account.

2) Open Position

Findcandidates should fetch candidates of that particular open position.

![image](https://user-images.githubusercontent.com/66815529/96272574-e80f9a80-0feb-11eb-83c4-4bb42db97ad5.png)

The open positions should populate in the assignment

[2020-10-16 15:05] Teja-swi opened #260 "Multi account Partner/Management role - assigning candidate to a open position"
1) Project assignment

Multi account partner / management should be able to assign candidate to a open position which is linked to that particular account.

2) Open Position

Find candidates should fetch candidates of that particular open position.
![image](https://user-images.githubusercontent.com/66815529/96275273-278bb600-0fef-11eb-8330-e343a7dba510.png)

The open positions should populate in t

[2020-10-16 15:09] Teja-swi opened #261 "Questions to be shuffled during quiz"
Currently questions in the exam were not shuffled during quiz, Candidate gets all complex questions in one go followed by Medium and Simple.

[2020-10-16 15:19] Teja-swi opened #262 "View questions - Button to view question with options"
Button to view question with options in View questions Page

[2020-10-19 07:54] deekshanagesh08 commented on #231
Issue has been fixed. Kindly test after deployed on cloud

[2020-10-19 09:38] rashmidevapura commented on #260
fixed the issue..once deployed to cloud ...please test all possible scenarios for project assignment

[2020-10-19 09:42] rashmidevapura commented on #259
fixed ... once deployed in cloud please test all possible scenarios...

[2020-10-19 12:48] samirghoshibm commented on #250
Added the code fix and checked in to the repo. When the next build is deployed, it can verified.

[2020-10-19 13:57] samirghoshibm commented on #251
Once the openposition is created the positionID will be created based on the JRSS and the next sequence available. When editing an open position, there will be adverse impact if the positionID gets modified based on the new JRSS as there is a possibility that the same position might be already in use. So, we are not progressing with any fix for this.

[2020-10-20 04:58] Harshitha-Edpuganti commented on #121
@Teja-swi Fixed

[2020-10-20 04:58] #43 closed

[2020-10-20 04:59] #34 closed

[2020-10-20 04:59] #30 closed

[2020-10-20 04:59] #23 closed

[2020-10-20 05:22] Tatireddysreevani commented on #251
closing as its designed as per requirement

[2020-10-20 05:22] #251 closed, assigned to samirghoshibm

[2020-10-20 06:05] Tatireddysreevani commented on #231
![image](https://user-images.githubusercontent.com/61975055/96546558-1e893600-12c8-11eb-94e5-30abeb36933e.png)
Employee type is not updated on sme, partner and management queue

[2020-10-20 06:08] Harshitha-Edpuganti commented on #257
@Teja-swi Fixed

[2020-10-20 09:40] Tatireddysreevani commented on #250
![image](https://user-images.githubusercontent.com/61975055/96568808-f6103480-12e5-11eb-8afe-2dd48408dfc9.png)
one time i got this warning message
then again tries with other two candidates, but not getting warning message
![image](https://user-images.githubusercontent.com/61975055/96569027-3ff91a80-12e6-11eb-94a7-5890394103d0.png)
for this jobrole i added test configuration as 5 questions and 10

[2020-10-20 10:31] sivabluemix opened #263 "[Cloud-TST] Logged in as superadmin, expected welcome , superadmin !! but missing the 'superadmin' part after logged in.,"

[2020-10-20 14:13] sivabluemix opened #264 "Question Visibility"
As discussed earlier, Question which is created by a multi account (ex dwp,nhs) admins should not display when the dwp-only or nhs-only admins logged into the tool under View Questions (So, as its not going to display they even cant edit or delete a question which is created by Multi-Account Admins).,

But now,  I can see, the question which is created by Multicount admin is able to display when a

[2020-10-20 14:18] sivabluemix opened #265 "JOB Role not loaded when trying to create a new candidate"
I have logged in as a dwpadmin and trying to create a new candidate, in this process, I have selected respective values for all the elements, except JOB Role, for some reason, this drop down not loaded with any relevant job roles., but  I can see there are two job roles (Java Technical Assessment and IIB Developer) .

<img width="960" alt="JobRole_Notloaded" src="https://user-images.githubusercont

[2020-10-21 05:45] Tatireddysreevani commented on #257
issue got fixed

[2020-10-21 05:45] #257 closed, assigned to Tatireddysreevani, Teja-swi

[2020-10-21 07:06] deekshanagesh08 commented on #231
Issue is fixed. Kindly test upon deploying on cloud

[2020-10-21 07:07] #259 closed, assigned to Tatireddysreevani

[2020-10-21 07:11] deekshanagesh08 commented on #265
Siva I believe you need to add open position before creating a candidate. Can you please check if open position is present and retest the scenario

[2020-10-21 07:52] Teja-swi commented on #250
@samirghoshibm - I have tested the same for two candidates in Mozilla, I didn't  get any alert message. Can you have a look at this on cloud.

[2020-10-21 08:13] rashmidevapura commented on #254
What agreed on this requirement is as below:
admin accesslevel  =DWP, he can view/edit/delete only DWP questions
admin accesslevel=NHS,he can view/edit/delete only NHS questions
admin accesslevel=DWP,NHS , he can view/edit/delete only DWP questions, NHS Questions and DWP,NHS Quetions
admin accesslevel=DWP,NHS,ANT , he can view/edit/delete only DWP questions, NHS Questions and DWP,NHS Questions and

[2020-10-21 08:14] rashmidevapura commented on #254
@Teja-swi : please test once deployed on cloud

[2020-10-21 08:19] rashmidevapura commented on #265
Not open positions....technologu stream mapping and work flow should be assigned to job role

[2020-10-21 08:46] sivabluemix opened #266 "Welcome screen showing 60 questions for java exam but while attempting the exam it showing 4 questions.,"

[2020-10-21 08:50] sivabluemix commented on #266
Also, after submissioning the test , just before showing the results (score page), its showing some warning for a fraction of seconds., but my laptop not supported to capture the screenshot.,

[2020-10-21 08:55] sivabluemix commented on #265
Don't know the magic but when I tried today, its working.,

If possible - for any reason when a drop down is not able to populate then cant it show a warning/message why it was not loaded ?.,

[2020-10-21 08:56] Teja-swi opened #267 "JRSS - Create candidate"
Currently, while creating candidate..Job role will load only if test is configured.  If for a particular JRSS , if online assessment is skipped and no test configuration available  ...it should display in the drop down of create Candidate.

![image](https://user-images.githubusercontent.com/66815529/96696471-6ed7c500-13a8-11eb-8b25-70c5e3dd161d.png)

![image](https://user-images.githubusercontent.

[2020-10-21 09:06] Teja-swi opened #268 "Multi account SME - account fetching"
Accounts are not fetching properly according to the user.

![image](https://user-images.githubusercontent.com/66815529/96698411-b52e2380-13aa-11eb-82d8-0fb974c2e8c4.png)

[2020-10-21 09:08] Teja-swi commented on #268
Same issue is observed in single account sme as well

![image](https://user-images.githubusercontent.com/66815529/96698663-06d6ae00-13ab-11eb-8def-3baba61bba7d.png)

[2020-10-21 09:16] Teja-swi opened #269 "Schedule Interview - Display entries of other candidate"
As discussed, Calender will display interviews scheduled for other candidates when trying to schedule a interview for an candidate.

![image](https://user-images.githubusercontent.com/66815529/96699363-ccb9dc00-13ab-11eb-90ef-f20c78d4f65e.png)

[2020-10-21 09:16] sivabluemix opened #270 "logged in with the dwpsme1, expected 'Welcome, DWPSME1!!' but its displaying as Welcome,"
<img width="960" alt="DWPSME_Welcommessage_DWPSME is not displaying" src="https://user-images.githubusercontent.com/24892801/96699687-30440980-13ac-11eb-888b-b1aabfb6cb76.PNG">

[2020-10-21 09:19] sivabluemix commented on #270
also, when i tried to initiated interview as dwpsme1, its not displaying the welcome,dwpsme1!!

![Uploading initiatedInterview_as_dwpsme1_its not showing any welcome,dwpsme1.PNG…]()

[2020-10-21 09:39] sivabluemix opened #271 "logged in as dwpadmin, Expect under Manager User, it will display users related to only DWP acccount, But its displaying the Multiaccount related users., Can this validate whether its a right behavoiur or not.,"
![image](https://user-images.githubusercontent.com/24892801/96702422-5ae39180-13af-11eb-9d1f-f35a79f6ff2a.png)
![image](https://user-images.githubusercontent.com/24892801/96702466-62a33600-13af-11eb-8bce-63a1e787f7f0.png)

[2020-10-21 12:33] Harshitha-Edpuganti commented on #228
@Teja-swi Added instructions for Questiontype and Complexity.

[2020-10-21 13:30] sivabluemix commented on #264
Closing this defect as discussed over call by considering the the duplicate defect which was created by Tejaswi.,

[2020-10-21 13:30] #264 closed, assigned to deekshanagesh08

[2020-10-21 13:43] Teja-swi opened #272 "Currently 'Delete' option is not working properly in Mapping Technology Stream Page."
Currently 'Delete' option is not working properly in Mapping Technology Stream Page.

![image](https://user-images.githubusercontent.com/66815529/96728100-6647b480-13d1-11eb-9ed3-e834644e2470.png)

[2020-10-21 15:58] Teja-swi opened #273 "Open Position is not loading in cloud, while creating a Candidate."
Open Position is not loading in cloud, while creating a Candidate.

![image](https://user-images.githubusercontent.com/66815529/96746060-6c935c00-13e4-11eb-83db-9a1dd838aafb.png)

![image](https://user-images.githubusercontent.com/66815529/96745904-3f46ae00-13e4-11eb-8740-f12268c405a9.png)

[2020-10-21 16:06] Teja-swi commented on #241
Unable to add additional technology streams . The '+' is not working

![image](https://user-images.githubusercontent.com/66815529/96747001-69e53680-13e5-11eb-9d1a-1215ee485de2.png)

[2020-10-21 16:17] Teja-swi commented on #228
Instructions are missing for sector sme.

![image](https://user-images.githubusercontent.com/66815529/96747724-41117100-13e6-11eb-9290-37a559f9542b.png)

[2020-10-21 16:42] Teja-swi commented on #254
Hi @rashmidevapura

Below are some of the findings

1) Questions added to SECTOR, where not visible at account level.
2) Multi account admin cannot edit question of a particular account.

![image](https://user-images.githubusercontent.com/66815529/96749910-09f08f00-13e9-11eb-9b8f-3f0fbeec6d20.png)

[2020-10-22 05:07] deekshanagesh08 commented on #199
Issue fixed. Kindly test

[2020-10-22 05:08] deekshanagesh08 commented on #241
Issue is fixed. Kindly test

[2020-10-22 05:14] Harshitha-Edpuganti commented on #263
@sivabluemix  This is data issue while we created superadmin from backend. It works fine after updating users collection with
db.users.update({'username':'super'},{$set:{'name':'Super'}});

[2020-10-22 07:26] ranjeetibm commented on #256
Fixed, please retest once code deployed to cloud

[2020-10-22 08:59] Tatireddysreevani commented on #204
![image](https://user-images.githubusercontent.com/61975055/96848803-811e3580-1472-11eb-9a9d-cec7ca0a7c71.png)
online test result in List of eligible candidates screen is in blue colour on partner and management queues of sector, account and multi account level

[2020-10-22 09:08] ranjeetibm commented on #268
Fixed. Please retest once the code is deployed to cloud.

[2020-10-22 09:14] Tatireddysreevani commented on #204
In welcome message also its not showing whether it is a partner queue or management queue. its happening in sector, account and multi account level

[2020-10-22 11:05] Harshitha-Edpuganti commented on #270
@sivabluemix Fixed

[2020-10-23 04:41] rkulkar5 commented on #269
Fixed, please verify

[2020-10-23 05:15] deekshanagesh08 commented on #253
Issue is fixed. Kindly test after deployed on cloud

[2020-10-23 05:19] Teja-swi commented on #199
Hi @deekshanagesh08  , Is it fine to have empty space below ?

![image](https://user-images.githubusercontent.com/66815529/96959321-5fc65380-151d-11eb-82bf-31514a549d79.png)

[2020-10-23 06:05] sivabluemix commented on #253
Sure, I will wait to get it deploy in cloud and test it later.,

[2020-10-23 07:48] sivabluemix opened #274 "Not able to create an admin for USFEDERAL account. After clicking on Register button, not seen any PopUp also, its not displaying in the below userslist.,"
![image](https://user-images.githubusercontent.com/24892801/96971096-4380e180-1532-11eb-93d6-e99af80af3ce.png)

[2020-10-23 07:49] sivabluemix commented on #274
This i have tried with 'superadmin' and on the home screen observe, its not showing the name superadmin, its showing only Welcome.,

[2020-10-27 04:19] Teja-swi opened #275 "Favicon of Talent Sourcing Tool"
Favicon of Talent Sourcing Tool is picking the default of angular, Is it Ok to have this ?

![image](https://user-images.githubusercontent.com/66815529/97256621-87792c80-1839-11eb-9b22-cc1954ea52e9.png)

[2020-10-27 09:32] ranjeetibm commented on #206
Issue fixed. Please retest once code is  deployed to cloud.

[2020-10-27 10:53] Harshitha-Edpuganti commented on #258
Fixed

[2020-10-27 10:54] Harshitha-Edpuganti commented on #228
Done

[2020-10-28 08:01] samirghoshibm commented on #250
Please verify the defect fix which is deployed on cloud and if any issue let us know.
As part of this fix a wait spinner is added until the questions load.

[2020-10-28 08:07] samirghoshibm commented on #266
As part of the defect #250 fix, the questions will not appear. So this is a duplicate defect (Duplicate of #250).
Please note that we have implemented the fix for defect #250 which can be verified now.

[2020-10-28 09:27] rashmidevapura commented on #273
The issue not exists after cloud restarted.Assigning back to Sreevani to confirm and close the defect.

[2020-10-28 09:38] Tatireddysreevani commented on #206
![image](https://user-images.githubusercontent.com/61975055/97415946-d3a49980-192b-11eb-8ca1-88efa5454f5b.png)
still getting same warning message. we are getting this warning message when we move to another browser but not getting when we move to another tab

[2020-10-28 10:04] rashmidevapura commented on #254
Please check Tejaswi

[2020-10-28 11:02] ranjeetibm commented on #271
Fixed. Please retest once code is deployed to the cloud.

[2020-10-28 11:07] samirghoshibm commented on #261
The defect has been fixed and can be verified now.

[2020-10-28 11:10] samirghoshibm commented on #204
The fix has been implemented. When the next build is deployed the same can be verified.

[2020-10-28 12:58] ranjeetibm commented on #206
Hi,
Could you please provide the step to replicate this. I did the testing as per your suggestion and am not getting the warning message. Followed below step:
1. opened Mozilla and Logged-in the tool with candidate credential
1. finished candidate exam and landed on pre-tecnical form page. clicked on next tab..NO warning message.
2. Logout pre technical form page and clicked on next page. No warni

[2020-10-28 13:46] rkulkar5 commented on #252
Resolved the issue, please verify

[2020-10-29 04:36] Tatireddysreevani commented on #206
Hi,
These are the steps i had followed while testing:
1. Opened Mozilla and logged in to tool with DWPAdmin credentials, then created candidate "dwpcan3@in.ibm.com"
2. Logged in with candidate credentials and attempted quiz. While attempting quiz, moved to chrome and again came to Mozilla, that time i got warning message(this is as per requirement).
3.clicked on pre technical form, while filling p

[2020-10-29 06:39] Tatireddysreevani commented on #231
Employee type has not updated in eligible candidates list and project assignment screens of partner and management queue.
![image](https://user-images.githubusercontent.com/61975055/97534155-83870f00-19df-11eb-9c2c-52275bf8bb1f.png)
![image](https://user-images.githubusercontent.com/61975055/97534164-884bc300-19df-11eb-9f4d-856515e8f536.png)

[2020-10-29 06:55] Teja-swi commented on #253
![image](https://user-images.githubusercontent.com/66815529/97535305-7539f280-19e1-11eb-96bb-b8de6053a208.png)
But still this not restricting the Job role, once I click on it ...getting job roles

![image](https://user-images.githubusercontent.com/66815529/97535497-b92cf780-19e1-11eb-807d-1423372dfe49.png)

[2020-10-29 07:26] Teja-swi commented on #261
![image](https://user-images.githubusercontent.com/66815529/97538128-e7143b00-19e5-11eb-9dc3-bdbd68f418ad.png)

![image](https://user-images.githubusercontent.com/66815529/97538152-f4312a00-19e5-11eb-9540-5c63e63fd0b7.png)
![image](https://user-images.githubusercontent.com/66815529/97538177-feebbf00-19e5-11eb-9751-1cdab7b03ddd.png)
![image](https://user-images.githubusercontent.com/66815529/975382

[2020-10-29 07:26] #261 closed, assigned to Teja-swi

[2020-10-29 07:32] Teja-swi opened #276 "Pre-techform alert"
After submitting Pre-tech form not getting an alert like ' You have successfully submitted the form - Please click on close/logout to exit'

![image](https://user-images.githubusercontent.com/66815529/97538753-f2b43180-19e6-11eb-9c71-d52c94936f9d.png)

[2020-10-29 07:33] Teja-swi opened #277 "Alignment issue"
Alignment issue - observed this on Multi account SME user page
![image](https://user-images.githubusercontent.com/66815529/97538878-24c59380-19e7-11eb-889a-8f91bd0ab8f8.png)

[2020-10-29 07:44] Teja-swi opened #278 "Scheduling Interview to a candidate"
There is no feild or flag available for a candidate to determine whether interview is scheduled or not.

For example, If a multi acount SME(DWP,NHS) scheduled a interview for a DWP Candidate. DWP admin can also schedule interview for the candidate again as he is not aware someone is already looking into this candidate.

[2020-10-29 07:54] Teja-swi commented on #206
@ranjeetibm

The alert seems to appear when there are no adequate questions in question bank. SInce Samir is showing the alert message 'no enough questions' after clicking the START EXAM button, system is treating this as exam has started.

![image](https://user-images.githubusercontent.com/66815529/97540857-3ceae200-19ea-11eb-9112-5b5bf5c2db7d.png)

![image](https://user-images.githubusercontent.

[2020-10-29 07:58] Teja-swi commented on #250
Issue resolved.

![image](https://user-images.githubusercontent.com/66815529/97541192-c26e9200-19ea-11eb-918a-05fa36ad6e2c.png)

[2020-10-29 07:58] #250 closed, assigned to Teja-swi

[2020-10-29 08:01] Tatireddysreevani commented on #269
Issue resolved
![image](https://user-images.githubusercontent.com/61975055/97541322-f9dd3e80-19ea-11eb-9c78-def44be42319.png)

[2020-10-29 08:01] #269 closed, assigned to sivabluemix

[2020-10-29 08:03] Tatireddysreevani commented on #268
issue resolved
![image](https://user-images.githubusercontent.com/61975055/97541530-550f3100-19eb-11eb-938f-1d0f1e27c776.png)

[2020-10-29 08:03] #268 closed, assigned to Tatireddysreevani

[2020-10-29 08:05] Tatireddysreevani commented on #241
issue got resolved
![image](https://user-images.githubusercontent.com/61975055/97541681-8c7ddd80-19eb-11eb-8b03-929b371f1ffb.png)

[2020-10-29 08:05] #241 closed, assigned to Tatireddysreevani

[2020-10-29 08:07] Teja-swi opened #279 "Skip 'online assessmnet' - mapping Technology stream"
Just wondering if we require below validation check, Since we are already not allowing candidate to give exam if there are no enough questions. There might be cases where 'online assessment' is skipped for a JRSS, then there is no need of questions.

![image](https://user-images.githubusercontent.com/66815529/97541679-8be54700-19eb-11eb-86ff-5a94c76bb07a.png)

[2020-10-29 08:15] Teja-swi commented on #228
![image](https://user-images.githubusercontent.com/66815529/97542554-f21e9980-19ec-11eb-9676-413173ae9f8c.png)

Issue fixed

[2020-10-29 08:15] #228 closed, assigned to Harshitha-Edpuganti, Teja-swi

[2020-10-29 08:24] Teja-swi commented on #121
Issue fixed for Super Admin as well

[2020-10-29 08:24] #121 closed, assigned to Teja-swi

[2020-10-29 08:32] Teja-swi commented on #258
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/97544236-517da900-19ef-11eb-98e1-63f46c38c227.png)

[2020-10-29 08:32] #258 closed, assigned to Teja-swi

[2020-10-29 09:02] Tatireddysreevani commented on #260
issue fixed

[2020-10-29 09:02] #260 closed, assigned to Tatireddysreevani

[2020-10-29 11:44] ranjeetibm commented on #206
Hi.
I have fixed the issue pointed by Tejaswi for the warning alert after "Insufficient question.." message. Please restest once code is deployment to cloud.

Also, in today's scrum call Sreevani updated that previous issues for this incident is working fine now. So please close the incident after today's issue testing.

Thanks,

[2020-10-29 15:58] Teja-swi commented on #252
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/97598981-86a8ec00-1a2d-11eb-9be8-719b24d39109.png)

[2020-10-29 16:07] Teja-swi commented on #252
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/97598981-86a8ec00-1a2d-11eb-9be8-719b24d39109.png)

[2020-10-29 16:10] Teja-swi commented on #252
Hi Rajesh,

You have disabled the candidate initially with quiz count '1', it seems if we enable the candidate in order to let him give quiz, the attempt is incrementing  '2' . Initially the value has to be '0'. Isn't it ?

![image](https://user-images.githubusercontent.com/66815529/97600426-0e432a80-1a2f-11eb-82ef-0ad96546db4b.png)

[2020-10-29 16:16] Teja-swi commented on #206
Hi Ranjeet, Latest code is deployed one hour ago and I still see this issue.

[2020-10-29 16:24] Teja-swi commented on #254
1) logged in as sector SME, was able to edit a question without account

![image](https://user-images.githubusercontent.com/66815529/97602162-008ea480-1a31-11eb-8e21-d86c705fa167.png)

same with other users

![image](https://user-images.githubusercontent.com/66815529/97602420-477c9a00-1a31-11eb-9659-cf81cb0471af.png)

[2020-10-29 16:37] Teja-swi commented on #254
2) Updating single select to multi select question, not asking to select more than one option.

![image](https://user-images.githubusercontent.com/66815529/97603881-e1911200-1a32-11eb-9de3-d3331e19c1ca.png)

![image](https://user-images.githubusercontent.com/66815529/97603978-fbcaf000-1a32-11eb-8942-d5698ecc906a.png)

[2020-10-29 16:42] Teja-swi commented on #254
3) Fetching wrong question details when we click on question to view question . The issue here could be due to delete of questions.

![image](https://user-images.githubusercontent.com/66815529/97604598-acd18a80-1a33-11eb-9ddd-387a1ee67851.png)

![image](https://user-images.githubusercontent.com/66815529/97604725-cd99e000-1a33-11eb-9295-cf6961aab7fd.png)

[2020-10-30 04:51] sivabluemix commented on #271
Issue related to Edit button got fixed, but even we are not supposed to allow to delete the user if the user mapped with multiple accounts.
scenario - Here user logged in as dwpadmin and logged in user shouldn't allowed to delete users (mapped to multiple accounts).,

![image](https://user-images.githubusercontent.com/24892801/97661105-81818680-1a99-11eb-9c7a-2914dfdfe970.png)

[2020-10-30 05:13] sivabluemix commented on #270
working as expected, so closing the defect.,

[2020-10-30 05:13] #270 closed, assigned to sivabluemix

[2020-10-30 05:47] sivabluemix opened #280 "concerns over pre-tech form"
hi, I logged in as a candidate and identified the following observations during the form submission.,

1) If I remember correctly this pretechnical form should contain min approx 7 questions (correct me if I am wrong).
2) I am candidate from Java background but the questions on pre-tech is showing only 3 and those 3 are related to some build, gds design principles and testing., - Have we missed to

[2020-10-30 05:49] sivabluemix commented on #266
Working as expected, so closing the defect.,

[2020-10-30 05:49] #266 closed, assigned to sivabluemix

[2020-10-30 06:03] Tatireddysreevani commented on #204
closing as defect fixed
![image](https://user-images.githubusercontent.com/61975055/97666242-366c7100-1aa3-11eb-83d6-3d6b8ec72e77.png)

[2020-10-30 06:03] #204 closed, assigned to Tatireddysreevani

[2020-10-30 06:21] Teja-swi commented on #274
Issue fixed
![image](https://user-images.githubusercontent.com/66815529/97667601-45a0ee00-1aa6-11eb-9e2f-31f716e8e537.png)

[2020-10-30 06:21] #274 closed, assigned to sivabluemix

[2020-10-30 06:22] Teja-swi commented on #263
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/97667631-5baeae80-1aa6-11eb-93d8-289d2073d0f6.png)

[2020-10-30 06:22] #263 closed, assigned to sivabluemix

[2020-10-30 06:24] Teja-swi commented on #256
As suggested by Rashmi, the alert should trigger as soon as user selected both sector and accounts.

![image](https://user-images.githubusercontent.com/66815529/97667775-a6c8c180-1aa6-11eb-9440-af35e23a40c4.png)

[2020-10-30 06:35] rkulkar5 commented on #275
The fav-icon icon has been changed to reflect TST,

[2020-10-30 06:39] rkulkar5 commented on #267
Fixed

[2020-10-30 07:03] rashmidevapura commented on #254
Point 1 is fixed, point 2 as discussed not required that validation
@Deeksha: Point 3 need to fix

[2020-10-30 07:36] Tatireddysreevani commented on #273
open positions are not loading in multi account admin while creating candidate
![image](https://user-images.githubusercontent.com/61975055/97672756-9a496680-1ab0-11eb-9856-057cced15ce9.png)

[2020-10-30 07:45] ranjeetibm commented on #271
Fixed. Added the alert message for Delete button too. Please retest once code is redeployed to cloud.

[2020-10-30 07:56] deekshanagesh08 commented on #277
Fixed, Kindly test once deployed on cloud.

[2020-10-30 07:57] deekshanagesh08 commented on #262
Fixed, Kindly test once deployed on cloud.

[2020-10-30 07:58] deekshanagesh08 commented on #231
Fixed, Kindly test once deployed on cloud.

[2020-10-30 08:06] rashmidevapura commented on #253
Fixed please test once deployed in the cloud

[2020-10-30 08:36] ranjeetibm commented on #256
As discussed, please close the defect if working.

[2020-10-30 08:38] Teja-swi commented on #256
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/97678141-5c047500-1ab9-11eb-895e-66169bd832c9.png)

[2020-10-30 08:38] #256 closed, assigned to Teja-swi

[2020-10-30 08:38] rashmidevapura commented on #273
Fixed issue for multiaccount,please test once deployed

[2020-10-30 09:17] samirghoshibm commented on #276
As suggested, alert message is added after form data submitted. Please verify once the code is deployed.

[2020-10-30 09:20] Teja-swi opened #281 "Talent sourcing tool should not allow same mobile number for any two candidates."
Talent sourcing tool should not allow same mobile number for any two candidates.

![image](https://user-images.githubusercontent.com/66815529/97685820-2793b780-1abf-11eb-92d8-5d5d151c45e0.png)

[2020-10-30 09:28] Teja-swi opened #282 "Change password"
When below stages are selected, Candidate is able to login with default password, It is not asking to change password.

![image](https://user-images.githubusercontent.com/66815529/97688495-36c73500-1ac0-11eb-9ec3-1b12e8270dbf.png)

[2020-10-30 09:46] ranjeetibm commented on #206
As discussed, please retest and if all good please close the defect.

[2020-10-30 10:12] rashmidevapura commented on #199
Fixed,please test once deployed in the cloud

[2020-10-30 10:33] Teja-swi commented on #275
Still reflecting the old icon
![Uploading image.png…]()

[2020-10-30 11:01] Tatireddysreevani commented on #273
closing as working fine
![image](https://user-images.githubusercontent.com/61975055/97697672-56b12580-1acd-11eb-87da-e5447ba72a5b.png)

[2020-10-30 11:01] #273 closed, assigned to Teja-swi

[2020-10-30 11:09] Tatireddysreevani commented on #276
closing as working fine...
![image](https://user-images.githubusercontent.com/61975055/97698401-75fc8280-1ace-11eb-9eda-770378eab09c.png)

[2020-10-30 11:09] #276 closed, assigned to Tatireddysreevani

[2020-10-30 11:30] Tatireddysreevani commented on #231
closing as workin fine...
![image](https://user-images.githubusercontent.com/61975055/97698645-d5f32900-1ace-11eb-8088-a1e1dedf5a83.png)

[2020-10-30 11:30] #231 closed, assigned to Tatireddysreevani, Teja-swi

[2020-10-30 11:32] Tatireddysreevani commented on #277
closing as issue got resolved

![image](https://user-images.githubusercontent.com/61975055/97700290-9974fc80-1ad1-11eb-90b5-90b993a5f251.png)

[2020-10-30 11:32] #277 closed, assigned to Tatireddysreevani

[2020-10-30 11:46] Teja-swi commented on #199
The screen below has still empty space, and the login card  is too big

![image](https://user-images.githubusercontent.com/66815529/97701350-456b1780-1ad3-11eb-9c56-1e6d8c161e68.png)

[2020-10-30 12:04] Teja-swi opened #283 "Edit - Test Configuration"
Please go through the  screenshots below. Able to update Test Configuration to a JRSS & Account which were logically not mapped.

![image](https://user-images.githubusercontent.com/66815529/97702657-5fa5f500-1ad5-11eb-8ba8-eef668a46ae7.png)

Please note Jobe role is empty here.
![image](https://user-images.githubusercontent.com/66815529/97702748-7fd5b400-1ad5-11eb-8336-4069469aa9b7.png)

![image](

[2020-10-30 12:15] Teja-swi commented on #267
Hi Rajesh,

I issue still exists in cloud. Can you please re-check.

[2020-10-30 12:31] Teja-swi commented on #253
Hi Rashmi,

It is working for the first time, But if I click in 'clear' and try the same...I see same issue

![image](https://user-images.githubusercontent.com/66815529/97705274-d218d400-1ad9-11eb-80ec-4331813fd975.png)

[2020-10-30 12:59] rashmidevapura commented on #199
Need that space on login ..we can not increase morethe page will not look right

[2020-10-30 13:03] rashmidevapura commented on #199
![image](https://user-images.githubusercontent.com/61687054/97708196-65ec9f00-1ade-11eb-8e46-d0df38645e67.png)

[2020-10-30 13:04] rashmidevapura commented on #199
looked in firefox and chrome and looks fine...if increase more page will distorts

[2020-10-30 13:09] #206 closed, assigned to Tatireddysreevani

[2020-10-30 13:18] rashmidevapura commented on #253
:) fixed

[2020-10-30 13:18] rashmidevapura commented on #253
:) fixed ,please test after deployment

[2020-10-30 13:18] rashmidevapura commented on #253
:) fixed ,please test after deployment

[2020-10-30 13:18] rashmidevapura commented on #253
:) fixed ,please test after deployment

[2020-10-30 14:11] rashmidevapura commented on #283
Fixed please test once deployed on the cloud

[2020-10-30 14:32] #106 closed, assigned to Adharshd, sivabluemix, samirghoshibm, Nagalakshmi97

[2020-10-30 15:02] ranjeetibm commented on #271
Hi Siva,
I have fixed below issue, which we discussed in today's scrum call.
Issue:
(1) If we delete any records, all records in the list is added again and counts increases.
(2) User list not getting refreshed after delete.

Please retest for multi account delete with above issues and if all looks Ok, please close the defect.

Thanks,

[2020-11-02 04:53] Teja-swi commented on #199
Rashmi ..I am talking about the white  space on below not on left and right. yeah, currently login card became too big

[2020-11-02 05:31] deekshanagesh08 commented on #255
Issue is fixed. Kindly test once deployed on cloud

[2020-11-02 05:54] Harshitha-Edpuganti commented on #272
Issue is fixed.

[2020-11-02 05:59] rkulkar5 commented on #252
Hi,
When an online assessment is skipped, we should not enable the candidate. As per the discussion we had with Amit, we either could disable the button itself or do not display such candidates in the list.
And we decided to disable the button, and the code has been fixed likewise.
Please verify.
Thanks

[2020-11-02 06:08] rkulkar5 commented on #275
![image](https://user-images.githubusercontent.com/23483645/97835298-d9b9c200-1cff-11eb-8a45-dc1bb2e3c40c.png)

[2020-11-02 06:10] rkulkar5 commented on #275
Please clear browser form data, history and cookies and check once

[2020-11-02 06:38] rkulkar5 commented on #267
I have checked on cloud its working as expected
Steps followed
1) logged in as single account admin (RKDWPAdmin@in.ibm.com/Password@123)
2) Created a new JRSS
3) mapped the JRSS with technology stream
4) configured the workflow, skip Online Technical Assessment
5) Navigate to create candidate screen and was able to see the new JRSS created in the dropdown

[2020-11-02 07:36] Teja-swi commented on #275
new favicon reflecting

![image](https://user-images.githubusercontent.com/66815529/97841603-2dcaa380-1d0c-11eb-812c-314ddbcdd2ef.png)

[2020-11-02 07:36] #275 closed, assigned to Teja-swi

[2020-11-02 07:44] Tatireddysreevani commented on #253
closing as working fine

[2020-11-02 07:44] #253 closed, assigned to Tatireddysreevani

[2020-11-02 07:45] Tatireddysreevani commented on #283
fixed....

[2020-11-02 08:19] Teja-swi commented on #272
@Tatireddysreevani  - please test after re-deployment on cloud today

[2020-11-02 08:42] Tatireddysreevani commented on #283
still facing same issue
for DWP account "java technical assessment" job role mapped.
for NHS account "manger" job role mapped.
![image](https://user-images.githubusercontent.com/61975055/97846814-9289fc00-1d14-11eb-8ed2-0a1f5b007136.png)
here i am trying to update test configuration for manager and changed account to DWP and no job role selected
![image](https://user-images.githubusercontent.com/6

[2020-11-02 08:58] Teja-swi commented on #267
Issue fixed.

[2020-11-02 08:58] #267 closed, assigned to Teja-swi

[2020-11-02 10:22] samirghoshibm commented on #280
1) Added the alert when Submitting the form.
2) Alert already present when file is uploaded, please verify this and inform.

[2020-11-02 18:04] samirghoshibm commented on #282
Code fix has been implemented which can be verified once the latest build is deployed

[2020-11-03 04:49] deekshanagesh08 commented on #281
Working as expected. Kindly close this defect

[2020-11-03 04:50] deekshanagesh08 commented on #279
Working as expected. Kindly close this defect

[2020-11-03 04:54] deekshanagesh08 commented on #199
Defect is fixed. Kindly close the defect

[2020-11-03 05:01] Teja-swi commented on #281
As discussed, Closing this issue.

[2020-11-03 05:01] #281 closed, assigned to Teja-swi

[2020-11-03 05:02] Teja-swi commented on #279
As discussed, closing this issue

[2020-11-03 05:02] #279 closed, assigned to Teja-swi

[2020-11-03 05:54] Teja-swi commented on #199
@rashmidevapura  - Hi Rashmi, Can you confirm if you are ok with below space which I can still see in cloud. If ok, I can close this issues.

![image](https://user-images.githubusercontent.com/66815529/97953582-fe2ca180-1dc6-11eb-93d3-27bdda848281.png)

[2020-11-03 06:10] Teja-swi commented on #252
Currently , In the below scenario candidate not able to login (similar to issue #282 )

![image](https://user-images.githubusercontent.com/66815529/97954374-56fd3980-1dc9-11eb-8aea-0da165bab8db.png)

[2020-11-03 06:30] Teja-swi commented on #254
@deekshanagesh08  - Hi Deeksha, some how issue mentioned on point 3 seems to appear , when we do edit/delete of questions

![image](https://user-images.githubusercontent.com/66815529/97955377-0c30f100-1dcc-11eb-8edb-af633fbabc8b.png)

[2020-11-03 06:33] Tatireddysreevani commented on #252
closing as working fine

[2020-11-03 06:33] #252 closed, assigned to rkulkar5

[2020-11-03 06:34] Tatireddysreevani commented on #282
issue fixed

[2020-11-03 06:34] #282 closed, assigned to Tatireddysreevani

[2020-11-03 06:42] Teja-swi commented on #255
Hi,

Tried the same for Contractor, Given quiz for 10 questions, But Candidate assessment detail is showing 20 questions.

![image](https://user-images.githubusercontent.com/66815529/97956061-b6f5df00-1dcd-11eb-8abd-a4eb4460deea.png)

![image](https://user-images.githubusercontent.com/66815529/97956109-d987f800-1dcd-11eb-8762-43a4ea41a9a7.png)

![image](https://user-images.githubusercontent.com/66

[2020-11-03 07:23] Tatireddysreevani commented on #262
![image](https://user-images.githubusercontent.com/61975055/97958599-86b13f00-1dd3-11eb-927e-7fbcb4712493.png)
issue fixed

[2020-11-03 07:23] #262 closed, assigned to Tatireddysreevani

[2020-11-03 07:54] rashmidevapura commented on #283
Fixed the issue..please test once deployed in cloud

[2020-11-03 07:57] rashmidevapura commented on #199
Ya its ok for me but if you think we need to reduce some more space I just removed those space and checked in...Please test once deployed in cloud and let me know if its fine.

[2020-11-03 10:26] sivabluemix commented on #280
Hi Ranjith,
I can see an alert after clicking on upload resume. But, not seen any after clicking on submit.
Can you please check is there any alert after submitting the form.,

[2020-11-03 10:41] samirghoshibm commented on #280
Hi Siva,

The alert is added when form data submitted. The same issue was raised as part of defect #276. The same was verified by Sreevani and she closed the defect #276. Could you please check with her for this issue.

[2020-11-03 10:45] Tatireddysreevani commented on #272
delete button is working, but if we delete technology stream the candidate is not reflecting in sme queue. Tested the below scenario.
1. created one candidate, attempted quiz and failed.
2. deleted technology stream "java" for java technical assessment.
3. second time attempted quiz, got 100% and filled pre technical form and submitted.
but it is not reflected in sme queue.
4. login with candidate

[2020-11-03 10:55] sivabluemix commented on #271
Hi Ranjeeth,
Following are my observations,
Logged in as DWPAdmin, can see users pertaining to multiple accounts, when select a user 'DNAPartner' (DWP,NHS,ANTHEM) and clicked on Delete, then it generated a popup saying 'do you want to delete' , I clicked Okay. then that entire record 'DNAPartner' got disappeared from the 'view page to see users' on DWPAdmin page.,

But, when I logged in super admi

[2020-11-03 10:58] sivabluemix commented on #140
Deeksha, Please classify it as an independent issue irrespective of any sprint., and park it separate.,

[2020-11-03 11:27] sivabluemix commented on #271
Working as expected.,

[2020-11-03 11:27] #271 closed, assigned to sivabluemix, ranjeetibm

[2020-11-03 12:22] rashmidevapura commented on #283
By accidently checked in the passing score validation on edit, checked in back. please test once deployment happens.

[2020-11-03 12:32] Tatireddysreevani commented on #272
closing as working fine

[2020-11-03 12:32] #272 closed, assigned to Tatireddysreevani

[2020-11-03 12:34] Tatireddysreevani commented on #283
Sure Rashmi, will check and inform

[2020-11-03 12:53] Tatireddysreevani opened #284 "If a candidate is failed in first attempt and passed in second attempt, then he is not reflecting in SME queue"
Tested with the below scenario
1. created one candidate, attempted quiz and failed.
2. second time attempted quiz, got 100% and filled pre technical form and submitted. But it is not reflected in sme queue.
3. After attempting quiz second time, the candidate is in inactive state but able to login with candidate credentials without enabling and its opening pre technical form page like save and draf

[2020-11-03 12:55] Teja-swi opened #285 "Copy/paste option in Talent Sourcing tool"
Can we provide copy/paste option of text in some areas like Login user id, add question , in searches

[2020-11-03 13:05] Teja-swi opened #286 "Search"
Should we mention as 'Keyword' instead of Account in Search

![image](https://user-images.githubusercontent.com/66815529/97988647-4bc6ff80-1e03-11eb-9b8e-7459d1200323.png)

[2020-11-03 13:22] Teja-swi commented on #255
After a re-test
I have observed below for candidate assessment details
**before updating questions**
Regular employee - No  issue
contractor - there is some issue

**after updating questions**
Regular employee - there is some issue
contractor - there is some issue

[2020-11-03 13:26] Teja-swi commented on #286
Same observed in Multi account SME search

![image](https://user-images.githubusercontent.com/66815529/97990616-3a332700-1e06-11eb-945f-643b1a116d87.png)

[2020-11-03 17:31] Teja-swi commented on #199
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/98020078-8abb7c00-1e28-11eb-9b33-3ee440ea3110.png)

[2020-11-03 17:31] #199 closed, assigned to Teja-swi

[2020-11-04 10:11] Teja-swi commented on #280
Issue fixed and point 1,2 are data related issues ....which can be changed in DB

[2020-11-04 10:11] #280 closed, assigned to sivabluemix, samirghoshibm

[2020-11-04 10:21] Tatireddysreevani commented on #283
closing as working fine

[2020-11-04 10:21] #283 closed, assigned to Tatireddysreevani

[2020-11-04 11:38] Teja-swi opened #287 "Open positions are not getting closed once assigned to a candidate"
1) Open positions are not getting closed once assigned to a candidate
2) unable to see candidate is assigned to which open position id. for example in Dashborad

![image](https://user-images.githubusercontent.com/66815529/98106638-81c9b980-1ebf-11eb-9a44-557b3c6bfdd6.png)

Jeeva has been assigned to below open position, but it is still showing in the queue and also while registering other candidat

[2020-11-04 11:41] Teja-swi opened #288 "Dashboard details"
Some of the feilds are blank in dashboard, These feilds were not asked by Partner/manger to be filled.

![image](https://user-images.githubusercontent.com/66815529/98107372-75922c00-1ec0-11eb-8b7a-dfcc8510eb6a.png)

![image](https://user-images.githubusercontent.com/66815529/98107398-7f1b9400-1ec0-11eb-9127-f9e53b780ac2.png)

[2020-11-04 11:43] Teja-swi opened #289 "Management role"
When navigating to find candidate from open positions,  welcome message is not populating the user name.

![image](https://user-images.githubusercontent.com/66815529/98107662-d4f03c00-1ec0-11eb-8160-b6c37af207ee.png)

[2020-11-04 11:59] Teja-swi opened #290 "Issue on 'single question Validation check' for JRSS mapping"
For a multi account admin, the check is getting  applicable for all accounts rather than selected account.
![image](https://user-images.githubusercontent.com/66815529/98109105-09fd8e00-1ec3-11eb-9c07-13d597a3eeba.png)

For example, I am trying to map **Anthem -- IIB developer -- IIB**

I am able to map above though there are no questions for IIB in Anthem account, but there are IIB questions for o

[2020-11-04 12:49] rashmidevapura commented on #288
Fixed..please test once deployed into cloud.

[2020-11-04 12:59] rashmidevapura commented on #286
As discussed keyword is not suitable for field name... the column matching search is implemented... Please test once deployed in the cloud..

[2020-11-04 16:12] samirghoshibm commented on #287
Checked in the code fix. Once the build is deployed the part1 of the defect can be verified.

[2020-11-05 04:47] deekshanagesh08 commented on #254
Fixed, test once deployed on cloud

[2020-11-05 04:49] deekshanagesh08 commented on #255
Fixed, test once deployed on cloud

[2020-11-05 05:40] Tatireddysreevani commented on #288
Issue fixed..
![image](https://user-images.githubusercontent.com/61975055/98202166-74f8a480-1f57-11eb-9202-bebd6abc2b2e.png)

[2020-11-05 05:40] #288 closed, assigned to Tatireddysreevani

[2020-11-05 06:07] rashmidevapura commented on #287
checked in code for part2 also , we can see in view details open position name and id to which candidate assigned...test once deployed in code.

[2020-11-05 07:18] Tatireddysreevani opened #291 "Search criteria in view questions screen"
Here better to provide search fields for searching question and tech stream also.
![image](https://user-images.githubusercontent.com/61975055/98209281-a9269200-1f64-11eb-9214-be3facc8bc78.png)

[2020-11-05 09:10] rkulkar5 commented on #278
Issue is fixed, the changes are deployed on cloud, please test

As discussed, following changes are done
1) In the SME queue date will be shown on if Technical interview is scheduled , otherwise it will be blank
2) Technical interview can only be scheduled once, when tried to schedule again by the SAME USER it will just display alert message **"Technical interview for the candidate is already sche

[2020-11-05 10:41] Tatireddysreevani commented on #286
fixed...

[2020-11-05 10:41] #286 closed, assigned to Tatireddysreevani

[2020-11-05 11:05] Teja-swi commented on #255
Hi Deeksha,

I can still see this issue,
![image](https://user-images.githubusercontent.com/66815529/98233219-b8b5d300-1f84-11eb-8b9d-64f187e67ae1.png)

[2020-11-05 11:27] Teja-swi commented on #254
Issue will persists

![image](https://user-images.githubusercontent.com/66815529/98235585-05e77400-1f88-11eb-83bb-c0066079c0c8.png)

But,  when trying to edit it ....getting right question.

![image](https://user-images.githubusercontent.com/66815529/98235871-75f5fa00-1f88-11eb-9cf7-e45cf60c649c.png)

![image](https://user-images.githubusercontent.com/66815529/98235947-8f974180-1f88-11eb-925e-ae7b

[2020-11-06 07:38] Teja-swi opened #292 "Candidate assessment details"
Hi Deeksha,

Candidate assessment details are seems fine so far, But I observed some issue here.

For example, here the number of correctly answered questions were 7 but it is showing 8.

![image](https://user-images.githubusercontent.com/66815529/98338784-bb6e0200-2030-11eb-826c-bb13cdb76d91.png)

![image](https://user-images.githubusercontent.com/66815529/98338725-a002f700-2030-11eb-894c-72b353a

[2020-11-06 07:39] Harshitha-Edpuganti commented on #284
Fixed

[2020-11-06 07:49] Teja-swi opened #293 "Percentage Calculation"
Some discrepancy in percentage calculation

![image](https://user-images.githubusercontent.com/66815529/98339942-8ebaea00-2032-11eb-8f81-9b0e244b952d.png)

[2020-11-06 08:24] Teja-swi commented on #278
Hi,

Scheduling interview seems fine. Please confirm on below query

There is no restriction like SME who scheduled interview can only initiate interview for that particular candidate.
Or any SME who has access to that candidate can initiate the interview irrespective of who scheduled

[2020-11-06 08:31] Teja-swi commented on #278
As discussed, any SME who has access to that particular candidate can initiate interview.

[2020-11-06 08:31] #278 closed, assigned to rkulkar5, Teja-swi

[2020-11-06 08:38] Teja-swi commented on #289
Issue fixed

![image](https://user-images.githubusercontent.com/66815529/98344647-8a45ff80-2039-11eb-8058-3333dd5c376a.png)

[2020-11-06 08:38] #289 closed, assigned to Teja-swi

[2020-11-06 08:52] Teja-swi opened #294 "Reports/ Dashboard"
Report/ Dashboard details are same for all management/partner role users. Information is not getting fetched based on Account/s user logged in.

For example,

Below accounts does not have 'java technical assessment' job role.

![image](https://user-images.githubusercontent.com/66815529/98345935-523fbc00-203b-11eb-84a4-5544bac3b57e.png)

![image](https://user-images.githubusercontent.com/66815529/9

[2020-11-06 09:05] Tatireddysreevani commented on #287
issue fixed
![image](https://user-images.githubusercontent.com/61975055/98347335-4b19ad80-203d-11eb-80c3-53048d89b1e6.png)

[2020-11-06 09:05] #287 closed, assigned to Tatireddysreevani

[2020-11-06 09:16] Tatireddysreevani commented on #284
resolved

[2020-11-06 09:16] #284 closed, assigned to Tatireddysreevani

[2020-11-06 09:58] sivabluemix commented on #265
Agreed with the explanation given by the team and let's note it down this defect number for the future, in case if there is a possibility we can popup the reason why it's not loaded so that admins can be aware.,

[2020-11-06 09:58] #265 closed, assigned to sivabluemix

[2020-11-06 10:20] ranjeetibm commented on #290
Fixed. Please retest once code is deployed to the cloud.

[2020-11-06 13:31] rashmidevapura commented on #294
Fixed dashboard changes for multi account...please test once deployed.
@Rajesh: Please take care report section if possible, otherwise we can look later , not an issue.